/*
 * Generic styles that apply to all view modes
 */
.web-stories-list .web-stories-list__story-wrapper a {
  color: #555555;
  text-decoration: none;
  font-size: 16px;
}

.web-stories-list .web-stories-list__story-wrapper {
  max-width: 285px;
  position: relative;
}

.web-stories-list amp-story-player,
.web-stories-list .web-stories-list__story-wrapper.has-poster {
  width: 100%;
  max-width: 285px;
  height: auto;
}

.web-stories-list .web-stories-list__story-placeholder {
  background-size: cover;
  background-position: center;
  height: 430px;
}

/* story content overlay styles */
.web-stories-list .story-content-overlay {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #555555;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.web-stories-list .story-content-overlay__author-date {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.web-stories-list .story-content-overlay__title {
  grid-column: 1/-1;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
}

/* Grid View Styles */
.web-stories-list.is-view-type-grid {
  display: grid;
  grid-gap: 32px;
}

.web-stories-list.is-view-type-grid .web-stories-list__story-wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* List View Styles */
.web-stories-list.is-view-type-list .story-content-overlay {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.web-stories-list.is-view-type-list .web-stories-list__story-wrapper {
  max-width: unset;
  margin-bottom: 24px;
}

.web-stories-list.is-view-type-list .web-stories-list__story-wrapper > * {
  display: flex;
}

.web-stories-list.is-view-type-list .image-align-right {
  flex-direction: row-reverse;
}

.web-stories-list.is-view-type-list .web-stories-list__story-placeholder {
  height: auto;
  flex-basis: 40%;
  padding-top: 17%;
  flex-shrink: 0;
}

/* Circles View Styles */
.web-stories-list.is-view-type-circles {
  display: flex;
  overflow-x: scroll;
  padding: 5px;
}

.web-stories-list.is-view-type-circles .story-content-overlay {
  position: unset;
  background-color: transparent;
  box-shadow: unset;
  padding: 10px 0;
  text-align: center;
}

.web-stories-list.is-view-type-circles .story-content-overlay__title {
  font-size: 12px;
  line-height: 16px;
}

.web-stories-list.is-view-type-circles .web-stories-list__story-wrapper {
  margin-right: 32px;
  flex-shrink: 0;
  max-width: 150px;
}

.web-stories-list.is-view-type-circles .web-stories-list__story-placeholder {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-clip: content-box;
  border: 3px solid #666;
  padding: 2px;
}

.web-stories-list.is-view-type-circles
  .web-stories-list__story-placeholder:hover {
  border-color: #333;
}

/* Stories archive link styles */
.web-stories-list__archive-link {
  margin-top: 16px;
}
