############################################################
# See https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
#
# Team Pods
#
# Workspace: @dvoytenko @wassgha @barklund @miina @obetomuniz @ndev1991 @merapi
#
# WordPress & Infrastructure: @swissspidy @spacedmonkey
#
# Dashboard & Templates: @carlos-kelly @BrittanyIRL @mariano-formidable @littlemilkstudio
#
# NOTE: Most owners are currently commented out since we cannot currently use GitHub team aliases.
#
############################################################

# Global owners, default owners for everything in the repo
#*                                                                 @swissspidy

# General Infrastructure
__mocks__                                                         @swissspidy @spacedmonkey
.github/                                                          @swissspidy @spacedmonkey
.storybook/                                                       @swissspidy @spacedmonkey
bin/                                                              @swissspidy @spacedmonkey
.*                                                                @swissspidy @spacedmonkey
/*.js                                                             @swissspidy @spacedmonkey
/*.yml                                                            @swissspidy @spacedmonkey
/*.json                                                           @swissspidy @spacedmonkey
/*.lock                                                           @swissspidy @spacedmonkey
/*.xml                                                            @swissspidy @spacedmonkey
/*.dist                                                           @swissspidy @spacedmonkey

# All server-side logic (WordPress)
*.php                                                             @swissspidy @spacedmonkey
/tests/phpstan                                                    @swissspidy @spacedmonkey
/tests/phpunit                                                    @swissspidy @spacedmonkey

# WordPress.org plugin directory readme file.
readme.txt                                                        @swissspidy @pbakaus @o-fernandez

# Testing
/tests/e2e                                                        @swissspidy
/tests/js                                                         @swissspidy
jest-puppeteer.config.js                                          @swissspidy
testUtils/                                                        @swissspidy
/karma                                                            @dvoytenko

# Documentation
docs/                                                             @swissspidy
CONTRIBUTING.md                                                   @swissspidy

# Dashboard
#assets/src/dashboard/                                             @carlos-kelly @BrittanyIRL @mariano-formidable @littlemilkstudio

# Stories Editor
#assets/src/edit-story/                                            @dvoytenko @wassgha @barklund @miina @obetomuniz @ndev1991 @merapi

## Media-related functionality
#assets/src/edit-story/app/api/                                    @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid
#assets/src/edit-story/app/media/                                  @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid
#assets/src/edit-story/app/uploader/                               @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid
#assets/src/edit-story/components/mediaPicker/                     @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid
#assets/src/edit-story/components/uploadDropTarget/                @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid
#assets/src/edit-story/elements/media/                             @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid
#assets/src/edit-story/elements/image/                             @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid
#assets/src/edit-story/elements/video/                             @cvolzke4 @diegovar @jhtin @joannag6 @winterDroid

## Movable
#assets/src/edit-story/components/movable/                         @miina
#assets/src/edit-story/elements/image/editCropMovable.js           @miina
#assets/src/edit-story/elements/shared/editPanMovable.js           @miina
#assets/src/edit-story/components/canvas/singleSelectionMovable.js @miina
#assets/src/edit-story/components/canvas/multiSelectionMovable.js  @miina
