{
  "root": true,
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended",
    "plugin:import/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": ["jsx-a11y", "header"],
  "rules": {
    "block-scoped-var": "error",
    "complexity": ["error", {"max": 20}],
    "consistent-return": "error",
    "default-case": "error",
    "guard-for-in": "error",
    "no-await-in-loop": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-loop-func": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "header/header": [ "error", "block", [
      "",
      {
        "pattern": " \\* Copyright \\d{4} Google LLC",
        "template": " * Copyright 2020 Google LLC"
      },
      " *",
      " * Licensed under the Apache License, Version 2.0 (the \"License\");",
      " * you may not use this file except in compliance with the License.",
      " * You may obtain a copy of the License at",
      " *",
      " *     https://www.apache.org/licenses/LICENSE-2.0",
      " *",
      " * Unless required by applicable law or agreed to in writing, software",
      " * distributed under the License is distributed on an \"AS IS\" BASIS,",
      " * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.",
      " * See the License for the specific language governing permissions and",
      " * limitations under the License.",
      " "
    ] ],
    "import/no-restricted-paths": [ "error", {
      "zones": [ {
        "target": "./assets/src/edit-story/migration/migrations",
        "from": "./assets/src/edit-story",
        "except": [ "./migration/migrations" ]
      }, {
        "target": "./assets/src/edit-story",
        "from": "./assets/src/edit-story/utils/useWhyDidYouUpdate.js"
      } ]
    } ],
    "no-restricted-properties": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-template-curly-in-string": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "prefer-object-spread": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "radix": ["error", "as-needed"],
    "require-await": "error",
    "rest-spread-spacing": ["error", "never"],
    "react/prop-types": "error",
    "react-hooks/exhaustive-deps": ["error", {"additionalHooks": "useBatchingCallback"}],
    "react/jsx-fragments": "error",
    "react/jsx-no-literals": "error",
    "react/jsx-no-useless-fragment": "error",
    "react/no-unused-prop-types": "error",
    "react/self-closing-comp": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-unresolved": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          ["external", "unknown"],
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "jsdoc/check-indentation": "error",
    "@wordpress/dependency-group": "error",
    "@wordpress/react-no-unsafe-timeout": "error",
    "eslint-comments/no-unused-disable": "error"
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.js",
        "**/test/*.js",
        "**/?(*.)test.js",
        "tests/js/**/*.js"
      ],
      "extends": ["plugin:jest/all", "plugin:testing-library/recommended", "plugin:jest-dom/recommended"],
      "plugins": ["jsx-a11y", "header", "testing-library", "jest-dom"],
      "rules": {
        "jest/lowercase-name": [
          "error",
          {
            "ignore": ["describe"]
          }
        ],
        "jest/no-hooks": "off",
        "jest/prefer-expect-assertions": "off",
        "jest/prefer-inline-snapshots": "off",
        "testing-library/no-debug": "error",
        "testing-library/no-dom-import": "error"
      }
    },
    {
      "files": ["tests/e2e/**/*.js"],
      "extends": [
        "plugin:@wordpress/eslint-plugin/test-e2e",
        "plugin:jest/all"
      ],
      "rules": {
        "jest/lowercase-name": [
          "error",
          {
            "ignore": ["describe"]
          }
        ],
        "jest/no-hooks": "off",
        "jest/prefer-expect-assertions": "off",
        "jest/prefer-inline-snapshots": "off"
      }
    },
    {
      "files": ["**/*.md"],
      "plugins": [
        "markdown"
      ],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off"
      }
    }
  ]
}
