**/node_modules/**
**/vendor/**
**/dist/**
**/dist-module/**
**/dist-types/**
**/assets/js/*.js
**/packages-wp/imgareaselect/src/index.js
**/packages/migration/scripts/module.js
bin/build/*
build/*
!.storybook
