.test_artifacts
.travis_deploy_key
.idea/
.vscode/
.DS_Store
node_modules
/assets/css
/assets/js
/assets/testjs
/build
/bin/build
/bin/local-env/data
/plugin-assets
/public
/static
/vendor
/php7
phpcs.xml
phpunit.xml
phpunit-multisite.xml
