*.snap linguist-generated=true
.github export-ignore
.storybook export-ignore
.wordpress-org export-ignore
__mocks__ export-ignore
__static__ export-ignore
bin export-ignore
karma export-ignore
patches export-ignore
tests export-ignore
.* export-ignore
*.config.cjs export-ignore
*.config.test.cjs export-ignore
codecov.yml export-ignore
package.json export-ignore
package-lock.json export-ignore
percy.config.yml export-ignore
*.xml.dist export-ignore
packages/fonts/src/fonts.json linguist-generated=true
includes/data/fonts/fonts.json linguist-generated=true
tests/phpunit/integration/data/schema.json linguist-generated=true
packages/e2e-tests/src/specs/editor/shopping/schema.json linguist-generated=true
