.firebase/
.idea/
.vscode/
assets/
bin/
build/
includes/
node_modules/
packages/
plugin-assets/
third-party/
vendor/
.DS_Store
phpcs.xml
public/stories/*
public/sitemap.xml

# Stories with custom modifications
!public/stories/a-day-in-the-life-of-dap-the-contract
