.test_artifacts
.idea/
.vscode/
.DS_Store
node_modules
/assets
/packages/migration/scripts/module.js
/packages/*/dist
/packages/*/dist-module
/build
/bin/build
/bin/local-env/data
bin/local-env/docker-compose.override.yml
/includes/vendor
/includes/composer.json
/plugin-assets
/public
/proto/gen
!/proto/gen/.gitkeep
/static
/third-party
/vendor
phpcs.xml
phpunit.xml
.phpunit.result.cache
/packages/*/package-lock.json
