{
  "plugins": ["@prettier/plugin-xml"],
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": [".eslintrc", ".prettierrc", ".stylelintrc", "*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.yml", "*.neon.dist"],
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": ["*.xml", "*.xml.dist"],
      "options": {
        "parser": "xml"
      }
    }
  ]
}
