{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-prettier/recommended"
  ],
  "customSyntax": "postcss-syntax",
  "rules": {
    "font-family-name-quotes": null,
    "font-family-no-missing-generic-family-keyword": null,
    "font-weight-notation": null,
    "function-name-case": null,
    "function-whitespace-after": null,
    "selector-class-pattern": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements"],
        "ignoreTypes": ["overlay", "container"]
      }
    ],
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["clip-path"]
      }
    ],
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": ["/^`/", "/`$/"]
      }
    ],
    "value-keyword-case": null
  }
}
