{
  "extends": [
    "stylelint-config-recommended"
  ],
  "plugins": ["stylelint-prettier"],
  "customSyntax": "postcss-syntax",
  "rules": {
    "font-family-name-quotes": null,
    "font-family-no-missing-generic-family-keyword": null,
    "font-weight-notation": null,
    "function-name-case": null,
    "prettier/prettier": true,
    "selector-class-pattern": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements"],
        "ignoreTypes": ["overlay", "container"]
      }
    ],
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["clip-path"]
      }
    ],
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": ["/^`/", "/`$/"]
      }
    ],
    "value-keyword-case": null
  },
  "overrides": [
    {
      "files": ["*.js", ".ts", ".tsx"],
      "customSyntax": "postcss-styled-syntax",
      "rules": {
        "annotation-no-unknown": null,
        "block-no-empty": null,
        "function-no-unknown": null,
        "no-empty-source": null
      }
    }
  ]
}
