<?xml version="1.0" ?>
<ruleset name="Web Stories PHP Coding Standards Rules">
	<config name="minimum_supported_wp_version" value="5.3" />

	<rule ref="WordPress-Core">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax" />
		<exclude name="WordPress.PHP.DisallowShortTernary" />
	</rule>

	<rule ref="WordPress-Docs">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
	</rule>

	<rule ref="WordPress-VIP-Go" />

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="web-stories" />
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="customPropertiesWhitelist" type="array">
				<element value="childNodes" />
				<element value="tagName" />
				<element value="textContent" />
				<element value="parentNode" />
				<element value="nodeType" />
				<element value="nodeName" />
				<element value="nextSibling" />
				<element value="previousSibling" />
				<element value="firstChild" />
				<element value="lastChild" />
				<element value="nodeValue" />
				<element value="ownerElement" />
				<element value="documentElement" />
				<element value="removeChild" />
				<element value="ownerDocument" />
				<element value="strictErrorChecking" />
			</property>
		</properties>
	</rule>

	<rule ref="VariableAnalysis.CodeAnalysis.VariableAnalysis" />

	<!-- Check for cross-version support for PHP 5.6 and higher. -->
	<config name="testVersion" value="5.6-" />
	<rule ref="PHPCompatibilityWP" />

	<!-- The main plugin file should be parsable by PHP < 5.6. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax.Found">
		<exclude-pattern>web-stories.php</exclude-pattern>
		<exclude-pattern>includes/compat/Web_Stories_Compatibility.php</exclude-pattern>
	</rule>

	<!-- Show details about violated sniffs -->
	<arg value="s" />

	<!-- Iterate over all PHP files by default -->
	<arg name="extensions" value="php" />
	<file>.</file>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./" />

	<!-- Check up to 20 files simultaneously. -->
	<arg name="parallel" value="20" />

	<!-- Third-party or auto-generated code -->
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/data/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/third-party/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>assets/js/*.asset.php</exclude-pattern>
	<exclude-pattern>includes/polyfills/mbstring.php</exclude-pattern>
	<exclude-pattern>tests/phpstan/*</exclude-pattern>
	<exclude-pattern>tests/phpunit/includes/MarkupComparison.php</exclude-pattern>
</ruleset>
