includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 8
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  paths:
    - includes/
  bootstrapFiles:
    - tests/phpstan/bootstrap.php
    - includes/namespace.php
  ignoreErrors:
    # Uses func_get_args()
    - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
    # False positives for WPCOM_IS_VIP_ENV check.
    - '#^Strict comparison using === between false and true will always evaluate to false.$#'
    # False positive for wp_unslash()
    - '#^Cannot cast array<string>\|string to string.$#'
