<?xml version="1.0" ?>
<phpunit
  bootstrap="tests/phpunit/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
	<php>
		<ini name="error_reporting" value="32767" />
		<ini name="display_errors" value="1" />
		<ini name="display_startup_errors" value="1" />
	</php>

	<testsuites>
		<testsuite name="Web Stories Test Suite">
			<directory suffix=".php">./tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">assets</directory>
				<directory suffix=".php">bin</directory>
				<directory suffix=".php">build</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
				<file>web-stories.php</file>
				<file>uninstall.php</file>
				<directory suffix=".php">includes/templates</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
