<?xml version="1.0" ?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/phpunit/integration/bootstrap.php"
  backupGlobals="false"
  colors="true"
  failOnRisky="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.2/phpunit.xsd"
>
	<php>
		<ini name="error_reporting" value="32767" />
		<ini name="display_errors" value="1" />
		<ini name="display_startup_errors" value="1" />
		<const name="WP_TESTS_MULTISITE" value="1" />
	</php>

	<testsuites>
		<testsuite name="Web Stories Multisite Integration Test Suite">
			<directory suffix=".php">./tests/phpunit/integration/tests</directory>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>ms-excluded</group>
		</exclude>
	</groups>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">assets</directory>
				<directory suffix=".php">bin</directory>
				<directory suffix=".php">build</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
