---
title: How to use Web Stories for WordPress
description: Learn how to easily create immersive stories using the Web Stories WordPress editor, by leveraging all its powerful features and optimizing your workflow.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/how-to#Media">Inserting media</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Add-a-background-image-or-video">Adding a background image or video</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Page-Templates">Using page templates</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Masking-cropping">Masking &amp; cropping</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Adding-text">Adding text</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Adding-links">Adding links</a>
        <li><a href="{{ DOCS_BASE }}/how-to#Animate-page-elements">Animate page elements</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Add-borders">Adding borders &amp; corner radius</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Add-a-page-attachment">Adding a page attachment</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Saved-Styles">Saving &amp; reusing styles &amp; colors</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Quick-Actions">Quick Actions</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to#Saving">Save your progress</a></li>
      </ul>
    </span>
  </ul>
</aside>
<main>
  <section id="How-To">
    <h1>How to use the editor</h1>

    <h2 id="Media">Inserting media</h2>

    <p>
      Click on the cloud icon at the top of the Element panel to head to the media gallery, then upload media by either:
    </p>
    <ol>
      <li>Clicking the Upload button
      <li>Dragging media from your computer to the media gallery or Workspace area
      <li>Copy + paste into the editor</li>
    </ol>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="477" height="376" src="./img/docs/how-to/media-tab.png"></amp-img>
    </p>

    <p>
      The editor currently supports most common image &amp; video formats, with vector and audio formats coming at a later time.
    </p>

    <h3>Using media from third-party providers</h3>

    <p>
      Click on the picture icon in the Element panel’s tabs to switch to third-party media sources, giving you access to millions of images &amp; videos. Currently, the following integrations are available:
    </p>

    <ul class="real-ul">
      <li><a href="https://unsplash.com/">Unsplash</a> (for photos)</li>
      <li><a href="https://coverr.co/">Coverr</a> (for videos)</li>
      <li><a href="https://tenor.com/">Tenor</a> (for GIFs)</li>
    </ul>

    <p><b>Note:</b> Your use of stock content is subject to third party terms.</p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="512" height="458" src="./img/docs/how-to/media3p-tab.png"></amp-img>
    </p>

    <h2 id="Add-a-background-image-or-video">Add a background image or video</h2>
    <p>
      Add a background image or video by selecting an asset and dragging it into the background drop area. Drop targets are outlined in blue. You may alternatively click the "Set as background" option in the design panel after selecting an image.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="369" height="400" src="./img/docs/how-to/14.png"></amp-img>
    </p>
    <p>
      Change the background size and placement by double clicking the image, use the slider to increase or decrease the size and drag it to your preferred position.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="426" height="700" src="./img/docs/how-to/15.png"></amp-img>
    </p>

    <p>
      Click outside the image to exit background placement.
    </p>

    <h2 id="Page-Templates">Using page templates</h2>
    <p>
      Mix and match pages from different templates in the Page Templates section. Here, you can see a more choices for element stylings, such as lists, sections or covers.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="771" height="895" src="./img/docs/how-to/page-templates.png"></amp-img>
    </p>

    <h2 id="Masking-cropping">Masking &amp; cropping</h2>
    <p>
      Mask and crop images by adding shapes from the Shapes tab in the Element panel to your Web Story page, then drag and drop the image into the shape’s drop target area. Drop targets are outlined in blue.
    </p>
    <p>
      <b>Tip</b>: Media can also be "dropped" into other images. This is very useful if you’d like to keep an images’ position and size, but want to quickly replace the contents.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="400" height="326" src="./img/docs/how-to/16.png"></amp-img>
    </p>
    <p>
      Change image cropping and placement by double clicking the shape. Use the slider to increase or decrease the size and drag it to your preferred position.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="255" height="400" src="./img/docs/how-to/17.png"></amp-img>
    </p>
    <p>
      Click outside the image to exit placement.
    </p>

    <h2 id="Adding-text">Adding text</h2>

    <p>
      Quickly add text to your Web Story page by selecting the plus icon next to the text tab icon in the Element Panel.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="402" height="118" src="./img/docs/how-to/18.png"></amp-img>
    </p>
    <p>
      You may also add a preset text by clicking the desired option on the text tab.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="400" height="379" src="./img/docs/how-to/19.png"></amp-img>
    </p>

    <h3 id="Match-fonts">Match fonts from your story</h3>
    <p>The editor provides font combinations that let you mix and match different harmonious typography. Use the "Match fonts from story" toggle to show only text sets that match what's already in use.</p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="347" height="669" src="./img/docs/how-to/match-fonts.png"></amp-img>
    </p>

    <h2 id="Adding-links">Adding links</h2>
    <p>
      Add a link to any element by first selecting it on the Web Stories page. The editor will present an area to add a link on the Design tab in the Design panel. Paste the desired web address into the box to add a link to the selected text.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="565" height="591" src="./img/docs/how-to/20.png"></amp-img>
    </p>
    <p>
      Once added, you may include an optional description and brand icon.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="338" height="334" src="./img/docs/how-to/21.png"></amp-img>
    </p>
    <h2 id="Animate-page-elements">Animate page elements</h2>
    <p>
      Use built-in animations to add a dynamic punch to your Web Stories. Animate an element by:
    </p>
    <ul class="real-ul">
      <li>Select the element on the canvas</li>
      <li>Open the "Animations" drop down in the Design Panel</li>
      <li>Select the desired animation</li>
      <li>Specify animation duration and delay</li>
    </ul>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="355" height="299" src="./img/docs/how-to/animate-elements.png"></amp-img>

    <p>Use the Play button below the canvas to play all animations on the page directly within the editor.</p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="277" height="139" src="./img/docs/how-to/play-animations.png"></amp-img>
    </p>

    <h2 id="Add-borders">Adding borders &amp; corner radius</h2>

    <p>
      You can add a border and corner radius to your story page elements.
    </p>

    <ul class="real-ul">
      <li>Select the element on the canvas</li>
      <li>Open the "Corner radius" and/or "Border" drop down in the Design Panel</li>
      <li>Specify desired corner radius and border size</li>
    </ul>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="526" height="230" src="./img/docs/how-to/corner-radius.png"></amp-img>
    </p>

    <h2 id="Add-a-page-attachment">Adding a page attachment</h2>

    <p>
      A page attachment is a special type of ‘inline’ link, which can be accessed by swiping or clicking at the shown affordance at the bottom of the page..
    </p>

    <p>
      Add a page attachment by selecting the background, then add a web address into the Page Attachment text box in the Design panel. You have the option to update the default "Learn more" text to something more fitting. You may not move the location or modify the default styling of the page attachment link.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="544" height="482" src="./img/docs/how-to/22.png"></amp-img>
    </p>

    <h2 id="Saved-Styles">Saving &amp; reusing styles &amp; colors</h2>
    <p>
      Save the style of a selected element by clicking the plus button next to "Saved styles" on the Design tab.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="280" height="554" src="./img/docs/how-to/saved-styles.png"></amp-img>
    </p>

    <p>
      You may then apply that style to other elements by selecting them first, then selecting the saved style.
    </p>

    <p>
      If you’d rather only save the foreground color, use the plus button next to the "Saved colors" panel above the "Saved styles" panel. Clicking on a color in this list will only apply the color, and not change any other styles.
    </p>

    <h2 id="Quick-Actions">Quick Actions</h2>

    <p>
      <b>Tip:</b> Relevant actions for your currently selected element are displayed in the so-called Quick Actions menu right next to the canvas. Whether you want to animate your text element or replace an image, it's just one click away.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="383" height="200" src="./img/docs/how-to/quick-actions.png"></amp-img>
    </p>

    <h2 id="Saving">Save your progress</h2>
    <p>
      Click the "Save draft" button in the upper right hand side of the second panel to save your progress and continue work on your Web Story later. It appears in your Web Stories Plugin Dashboard.
    </p>
    <p class="img-wrap">
      <amp-img layout="intrinsic" width="225" height="99" src="./img/docs/how-to/saving.png"></amp-img>
    </p>
    <p>
      <b>Tip</b>: Web Stories in draft mode are automatically saved every 60 seconds, but it’s still a good idea to double check if all changes are saved when you exit the page.
    </p>
  </section>
</main>
