/* Web Stories: Common block styles */
.web-stories-list.has-archive-link {
  margin-top: 38px;
}

.web-stories-list__story {
  position: relative;
  cursor: pointer;
}

.web-stories-list.is-view-type-grid .web-stories-list__story,
.web-stories-list.is-view-type-carousel .web-stories-list__story {
  min-width: var(--ws-story-min-width);
}

/* Curved corners by default.*/
.web-stories-list.is-style-default.is-view-type-grid .web-stories-list__story {
  border-radius: 8px;
  overflow: hidden;
}

.web-stories-list__story-placeholder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.web-stories-list__story-placeholder::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  top: 0;
  left: 0;
}

.web-stories-list__story-placeholder::after {
  content: '';
  display: block;
  padding-bottom: var(--ws-aspect-ratio);
}

.web-stories-list__story-content-overlay {
  padding: 10px;
  line-height: var(--ws-overlay-text-lh);
}

html[amp] .web-stories-list__story-content-overlay {
  white-space: normal;
}

.web-stories-list.is-view-type-carousel
  .web-stories-list__story-content-overlay,
.web-stories-list.is-view-type-grid .web-stories-list__story-content-overlay {
  position: absolute;
  bottom: 0;
  color: var(--ws-overlay-text-color);
  z-index: 1;
}

.web-stories-list .story-content-overlay__title {
  font-size: var(--ws-font-size-title);
  font-weight: 700;
  margin-bottom: 15px;
}

.web-stories-list .story-content-overlay__author,
.web-stories-list .story-content-overlay__date {
  font-size: var(--ws-font-size-author-date);
}

.web-stories-list .story-content-overlay__title,
.web-stories-list .story-content-overlay__excerpt {
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  -webkit-line-clamp: 2; /* Browser support: https://caniuse.com/?search=line-clamp */
  -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
  overflow: hidden;
}

.web-stories-list .story-content-overlay__excerpt {
  -webkit-line-clamp: 3;
  font-size: var(--ws-font-size-excerpt);
  margin-bottom: 15px;
}

.web-stories-list.alignfull .web-stories-list__archive-link {
  right: 10px;
}

.web-stories-list.is-view-type-grid .web-stories-list__archive-link,
.web-stories-list.is-view-type-list .web-stories-list__archive-link {
  display: block;
  text-align: center;
  margin: 32px auto 0 auto;
}

.web-stories-list.is-view-type-grid .web-stories-list__archive-link a,
.web-stories-list.is-view-type-list .web-stories-list__archive-link a {
  padding: 7px 53px;
  border: 1px solid;
  border-radius: 100px;
}

.web-stories-list.is-view-type-carousel,
.web-stories-list.is-view-type-circles {
  position: relative;
  margin-top: 32px;
}

.web-stories-list.is-view-type-carousel .web-stories-list__archive-link,
.web-stories-list.is-view-type-circles .web-stories-list__archive-link {
  position: absolute;
  right: 0;
  top: -32px;
}
