---
title: FAQ - Web Stories for WordPress
description: Frequently asked questions about Web Stories for WordPress. Learn how you can easily create visual narratives with tappable interactions, and share freely across the web, or embed them on your existing content strategies.
layout: layouts/base.njk
rootClass: docs
---

<main>
  <section id="FAQ">
    <h1>Frequently Asked Questions</h1>
    <h4>What browsers are supported?</h4>
    <p>
      For an optimal Web Story creation experience, we recommend using the latest version of commonly popular web browsers (Chrome, Firefox, Safari, Edge).
    </p>
    <h4>Is Web Stories for WordPress compatible with other WordPress plugins?</h4>
    <p>
      Because the Web Story format is new to the web ecosystem, some WordPress plugins may need extra support. We are working to improve compatibility with the Web Story editor and encourage you to file any bugs and requests in the <a href="https://wordpress.org/support/plugin/web-stories/">support forum</a>.
    </p>
    <h4>How do I fix the error "Compatibility: Your story contains errors that can affect eligibility to appear on Google"?</h4>
    <p>
      This is typically caused by a conflict with another WordPress plugin or a hosting configuration issue. We recommend trying to identify the offending plugin by disabling other WordPress plugins and progressively re-enabling them until the error reappears. Please share the details of your issue on our <a href="https://wordpress.org/support/plugin/web-stories/">support forum</a>.
    </p>
    <h4>Are WordPress multisite networks supported?</h4>
    <p>
      Web Stories for WordPress does not support WordPress multisite networks. Please activate the plugin for each individual site you would like to use it on.
    </p>
    <h4>Can I use Web Stories for WordPress on a touch screen?</h4>
    <p>
      The Web Story editor is currently <b>not</b> supported on touch screen devices, such as a smartphone or tablet.
    </p>
    <h4>How do I make Web Stories appear in Google and other search engines?</h4>
    <p>
      For better chances of being discovered, after publishing your Web Story, we encourage you to embed it into a regular article or post on your site by using the Web Stories Gutenberg block.
    </p>
    <p>
      While the default sitemaps in WordPress and most popular plugins handle it automatically, we encourage you to check that your Web Stories are included in your XML sitemaps.
    </p>
    <h4>How can I optimize Web Stories to show up on search engines?</h4>
    <p>
      Web Stories created using Web Stories for WordPress use what’s provided in the Document tab inside the editor to generate schema.org and social meta-data automatically. Ensure you review and update all requested metadata, including cover image, excerpt and publisher logo. Please see <a href="https://blog.amp.dev/2020/02/12/seo-for-amp-stories/">SEO for Web Stories</a> for further SEO guidance.
    </p>
    <h4>How do I implement Analytics in my Web Stories? </h4>
    <p>
      There are two ways to include analytics in your Web Stories:
    </p>
    <ul class="real-ul">
      <li>Add your Google Analytics ID in the "Editor Settings".
      <li>If you use the <a href="https://sitekit.withgoogle.com/">Site Kit by Google</a> WordPress plugin, you can set up Google Analytics there.</li>
    </ul>
    <h4>What do I do about an AMP validation issue in Search Console?</h4>
    <p>
      Web Stories are powered by <a href="https://amp.dev/">AMP</a>, which adds some restrictions on a page’s allowed markup. In some cases, other WordPress plugins use disallowed markup. We recommend temporarily disabling these plugins and reaching out to our <a href="https://wordpress.org/plugins/web-stories/">support forum</a>.
    </p>
  </section>
</main>
