/* Web Stories: Carousel View */

@media all and (min-width: 676px) {
  .web-stories-list.is-view-type-carousel .web-stories-list__story {
    margin: 0 5px;
    max-width: var(--ws-story-max-width);
  }
}
.ws-legacy-widget-preview
  .web-stories-list.is-view-type-carousel
  .web-stories-list__story {
  margin: 0 5px;
  max-width: var(--ws-story-max-width);
}

.web-stories-list.is-carousel.has-archive-link {
  margin-top: calc(
    24px + 35px
  ); /* default margin from common.css plus below offset */
}

.web-stories-theme-header-section
  .web-stories-list.is-carousel.has-archive-link {
  position: relative;
  margin-top: 24px;
  padding-top: calc(24px + 35px);
}

.web-stories-list.is-carousel .web-stories-list__archive-link {
  position: absolute;
  right: 0;
  top: -35px;
}

.web-stories-theme-header-section
  .web-stories-list.is-carousel
  .web-stories-list__archive-link {
  right: 10px;
}

.web-stories-list.is-carousel .glider-next,
.web-stories-list.is-carousel .glider-prev {
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.web-stories-list.is-carousel .glider-prev {
  transform: translateY(-50%) rotate(180deg) /*!rtl:translateY(-50%)*/;
}

.web-stories-list.is-carousel .glider-next,
.web-stories-list.is-carousel .amp-carousel-button-next,
.web-stories-list.is-carousel .glider-prev,
.web-stories-list.is-carousel .amp-carousel-button-prev {
  background-image: url('../../inline-icons/carousel-arrow.svg');
}

.web-stories-list.is-carousel .glider-next,
.web-stories-list.is-carousel .amp-carousel-button-next {
  right: 0;
}

.web-stories-list.is-carousel .glider-prev,
.web-stories-list.is-carousel .amp-carousel-button-prev {
  left: 0;
}

.web-stories-list.is-carousel .amp-carousel-button-prev {
  transform: rotate(180deg) /*!rtl:none*/;
}

html[dir='rtl'] .web-stories-list.is-carousel .amp-carousel-button-next {
  transform: rotate(180deg);
}

.web-stories-list.is-carousel .amp-carousel-button,
.web-stories-list.is-carousel .glider-next,
.web-stories-list.is-carousel .glider-prev {
  border-radius: 50%;
  background-color: #eaeaea;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  border-style: none;
  z-index: 10;
  pointer-events: all;
  cursor: pointer;
}

html[dir='rtl'] .web-stories-list.is-carousel .glider-next {
  transform: translateY(-50%) rotate(180deg);
}

.glider-next.disabled,
.glider-prev.disabled,
.web-stories-list.is-carousel .amp-carousel-button.amp-disabled {
  opacity: 0;
}

/* Temporary till we have full support for the RTL carousel. */
html[dir='rtl'] .glider-next.disabled,
html[dir='rtl'] .glider-prev.disabled {
  opacity: 1;
  cursor: pointer;
}

html[dir='rtl'] .glider-next.disabled:hover,
html[dir='rtl'] .glider-prev.disabled:hover,
.web-stories-list.is-carousel .glider-next:not(.disabled):hover,
.web-stories-list.is-carousel .glider-prev:not(.disabled):hover,
.web-stories-list.is-carousel .glider-next:not(.disabled):focus,
.web-stories-list.is-carousel .glider-prev:not(.disabled):focus,
.web-stories-list.is-carousel .amp-carousel-button:not(.amp-disabled):hover {
  filter: invert(1);
}

.web-stories-list.is-carousel .web-stories-list__carousel {
  scrollbar-width: none;
}

.web-stories-list.is-carousel .glider-track::-webkit-scrollbar {
  display: none;
}

.web-stories-list.is-carousel.is-view-type-carousel .web-stories-list__carousel:not(.glider) {
  display: flex;
  overflow-y: scroll;
}
