/* Web Stories: List View */
.web-stories-list.is-view-type-list .web-stories-list__story {
  margin-bottom: 12px;
}

.web-stories-list.is-view-type-list .web-stories-list__story-content-overlay {
  position: absolute;
  bottom: 0;
  color: var(--ws-overlay-text-color);
  z-index: 1;
}

.ws-legacy-widget-preview
  .web-stories-list.is-view-type-list
  .web-stories-list__story {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.ws-legacy-widget-preview
  .web-stories-list.is-view-type-list
  .web-stories-list__story-poster {
  flex-basis: 40%;
  aspect-ratio: var(--ws-list-aspect-ratio);
}

.ws-legacy-widget-preview
  .web-stories-list.is-view-type-list
  .web-stories-list__story-poster::after {
  display: none;
}

.ws-legacy-widget-preview
  .web-stories-list.is-view-type-list
  .web-stories-list__story-content-overlay {
  flex-basis: 60%;
  padding: 10px 15px;
  position: relative;
  color: inherit;
}

.ws-legacy-widget-preview
  .web-stories-list.is-view-type-list
  .image-align-right
  .web-stories-list__story-poster {
  order: 2;
}

.ws-legacy-widget-preview
  .web-stories-list.is-view-type-list
  .image-align-right
  .web-stories-list__story-content-overlay {
  order: 1;
}

.ws-legacy-widget-preview
  .web-stories-list.is-view-type-list.is-style-default
  .web-stories-list__story-poster {
  border-radius: 8px;
  overflow: hidden;
}

@media all and (min-width: 676px) {
  .web-stories-list.is-view-type-list .web-stories-list__story {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .web-stories-list.is-view-type-list .web-stories-list__story-poster {
    flex-basis: 40%;
    aspect-ratio: var(--ws-list-aspect-ratio);
  }

  .web-stories-list.is-view-type-list .web-stories-list__story-poster::after {
    display: none;
  }

  .web-stories-list.is-view-type-list .web-stories-list__story-content-overlay {
    flex-basis: 60%;
    padding: 10px 15px;
    position: relative;
    color: inherit;
  }

  .web-stories-list.is-view-type-list
    .image-align-right
    .web-stories-list__story-poster {
    order: 2;
  }

  .web-stories-list.is-view-type-list
    .image-align-right
    .web-stories-list__story-content-overlay {
    order: 1;
  }

  .web-stories-list.is-view-type-list.is-style-default
    .web-stories-list__story-poster {
    border-radius: 8px;
    overflow: hidden;
  }
}

@media all and (max-width: 675px) {
  .carousel > .glider-track > .web-stories-list__story {
    margin-right: 10px;
    margin-left: 10px;
  }
}
