.web-stories-theme-header-section .web-stories-list {
  max-width: 940px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}

.is-showing-header-stories #wrapper {
  margin-top: 0;
}
