.web-stories-theme-header-section .web-stories-list {
  border-bottom: none;
}

.web-stories-theme-header-section
  .web-stories-list
  .web-stories-list__archive-link,
.web-stories-theme-header-section
  .web-stories-list
  .web-stories-list__story-content-overlay,
.web-stories-theme-header-section
  .web-stories-list
  .web-stories-list__archive-link
  a {
  color: #fff;
}

.web-stories-theme-header-section
  .web-stories-list
  .web-stories-list__archive-link
  a:hover,
.web-stories-theme-header-section
  .web-stories-list
  .web-stories-list__archive-link
  a:focus {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 44.375em) {
  .web-stories-theme-header-section .web-stories-list {
    padding-top: 33px;
  }

  .web-stories-theme-header-section .web-stories-list.has-archive-link {
    padding-top: 52px;
    margin-top: 0;
  }
}
