.web-stories-theme-header-section
  .web-stories-list.is-carousel
  .web-stories-list__archive-link {
  font-size: var(--primary-nav--font-size-button);
  font-weight: var(--primary-nav--font-weight-button);
}

@media only screen and (max-width: 481px) {
  /* To ensure that the 'view-all' link has some space from the frame. */
  .web-stories-theme-header-section .web-stories-list__inner-wrapper {
    max-width: var(--responsive--aligndefault-width);
    margin-left: auto;
    margin-right: auto;
  }

  /* Fix for menu toggle overlap. */
  .web-stories-theme-header-section .web-stories-list--customizer {
    margin-top: 72px;
  }

  /* Carousel arrows were visible over primary navigation menu on mobile. */
  .has-web-stories.primary-navigation-open .web-stories-theme-header-section {
    z-index: 0;
  }
}
