@media screen and (min-width: 1008px) {
  .has-web-stories-support.twenty-fourteen > .web-stories-list {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 1260px;
  }

  .has-web-stories-support.twenty-fourteen
    > .web-stories-list
    .web-stories-list__inner-wrapper {
    margin-left: 182px;
    max-width: 1037px;
  }

  .has-web-stories-support.twenty-fourteen .content-area {
    padding-top: 142px;
  }
}

@media screen and (min-width: 1080px) {
  .has-web-stories-support.twenty-fourteen
    > .web-stories-list
    .web-stories-list__inner-wrapper {
    margin-left: 222px;
  }
}
