/* Lightbox styles */
.web-stories-lightbox-open {
  /* Stop page scroll when lightbox is visible. */
  overflow-y: hidden;
}

.web-stories-list__lightbox {
  justify-content: center;
  align-items: center;
  position: fixed;
  background: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(0, -100vh);
  display: none;
}

/* amp-lightbox needs to have z-index to render on top of other elements in the page. */
.web-stories-list__lightbox-wrapper amp-lightbox,
.web-stories-list__lightbox.show {
  z-index: 999999999;
}

.web-stories-list__lightbox.show {
  transform: translate(0, 0);
  opacity: 1;
  display: block;
}

.web-stories-list__lightbox amp-story-player {
  width: 100%;
  height: 100%;
}

.story-lightbox__close-button {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 1;
  border: none;
  background: none;
  border-radius: 0;
}

.story-lightbox__close-button--stick {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 15px;
  height: 20px;
  width: 3px;
  background-color: #fff;
  transform: rotateZ(45deg);
}

.story-lightbox__close-button--stick:first-child {
  transform: rotateZ(-45deg);
}

/*
 * amp-story-player's 'shadow-root-intermediary' element shows black space on top,
 * because of the 'a' links. Making 'a' absolutely positioned removes them from normal
 * relative flow, removes the space.
 */
html:not([amp])
  .web-stories-list
  .web-stories-list__lightbox
  amp-story-player
  a {
  position: absolute;
}

@media all and (min-width: 676px) {
  .admin-bar .web-stories-list__lightbox {
    top: 46px;
  }

  .story-lightbox__close-button {
    left: 10px;
  }

  .story-lightbox__close-button--stick {
    left: 20px;
    top: 5px;
    height: 25px;
  }
}

@media all and (min-width: 783px) {
  .admin-bar .web-stories-list__lightbox {
    top: 32px;
  }
}
