---
title: Getting Started - Web Stories for WordPress
description: Get started using Web Stories for WordPress! From installing the plugin to navigating the dashboard and the editor, here is all you need to know.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/getting-started#Installation">Installing Web Stories for WordPress</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Dashboard">Navigating the Dashboard</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Navigating-the-editor">Navigating the Editor</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Help-Center">Help Center</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Checklist">Pre-Publish Checklist</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Keyboard-Shortcuts">Keyboard Shortcuts &amp; Navigation</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Templates">Available Templates</a></li>
      </ul>
  </span>
  </ul>
</aside>
<main>
  <section>
    <h1>Getting Started</h1>
    <h2 id="Installation">Installing Web Stories for WordPress</h2>

    <p>You can install the Web Stories WordPress plugin directly from within your WordPress admin or by manually downloading it from the <a href="https://wordpress.org/plugins/web-stories/">WordPress.org plugin repository</a>. Follow the steps below to install the Web Stories for WordPress plugin:

    <ol>
      <li>In your WordPress admin, go to "Plugins" &rarr; "Add New".</li>
      <li>Search for "web stories" . You should see the <a href="https://wordpress.org/plugins/web-stories/">Web Stories plugin</a> in the search results.</li>
      <li>Install and activate the Web Stories plugin.</li>
      <li>Click on the new "Stories" admin menu item to navigate to the Web Stories Dashboard.</li>
    </ol>

    <p><b>Note:</b> You need to be an administrator in order to be able to install plugins.</p>

    <h2 id="Dashboard">The Web Stories Dashboard</h2>
    <h3>Accessing the Dashboard</h3>
    <p>
      Select Stories from the sidebar to navigate to the Web Stories dashboard.
    </p>

    <p class="img-wrap"><amp-img src="./img/docs/getting-started/1.png" layout="intrinsic" height="282" width="168" alt="screenshot visually indicating the location of the Stories admin menu item in WordPress"></amp-img></p>
    <h3>Create your first Web Story</h3>

    <p>Start creating your first Web Story from scratch by clicking on the "Create New Story" button or select "Explore Templates" to jump start with one of the dozens of available templates. </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="547" height="402" src="./img/docs/getting-started/create.png"></amp-img></p>

    <h3>Filter your Stories</h3>
    <p>
      On the dashboard, you can filter all stories on your site by their status, for example to only see published ones, by selecting the tabs at the top of the dashboard. Select the drop down under the search bar to sort stories by name, date, or their author.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="591" height="203" src="./img/docs/getting-started/filter-sort-stories.png"></amp-img></p>

    <h3>Change view</h3>

    <p>
      View stories as a list by clicking the icon next to the sort drop down and access the classic WordPress table view via the link next to the grid icon in case you need it (for instance for certain plugin integrations). You can also access the classic table view via the "All Stories" admin menu item.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="400" height="183" src="./img/docs/getting-started/4.png"></amp-img></p>

    <h3>Managing Settings</h3>

    <p>From the Settings page you can manage various Web Stories editor-related settings. For example, you can set up analytics by simply entering your Google Analytics tracking ID, or set up <a href="{{ DOCS_BASE }}/seo#Monetization">monetization</a> by entering your Google AdSense details.</p>

    <p>You can also manage publisher logos, enable <a href="{{ DOCS_BASE }}/best-practices#Media-Optimization">built-in video optimization</a>, and much more.</p>

    <p>
      Visit the Settings page via the admin menu or by clicking on "Settings" in the lower section of the Web Stories dashboard.
    </p>
    <p class="img-wrap"><amp-img layout="intrinsic" width="750" height="396" src="./img/docs/getting-started/settings.png"></amp-img></p>

    <p><b>Tip:</b> You might also want to check out <a href="https://wordpress.org/plugins/google-site-kit/">Site Kit by Google</a> to automatically set up Google Analytics and Google AdSense for your Web Stories.</p>

    <h2 id="Navigating-the-editor">Navigating the editor</h2>

    <p>
      The editor has main three panels. Starting from the left:
    </p>
    <ol>
      <li>The element panel,
      <li>The workspace,
      <li>And the design panel.</li>
    </ol>
      <p class="img-wrap"><amp-img layout="intrinsic" width="382" height="400" src="./img/docs/getting-started/6.png"></amp-img></p>
    <p>
      Use the Element panel on the left to upload assets, add images, text and shapes to your story pages, and create page templates.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="363" height="62" src="./img/docs/getting-started/7.png"></amp-img></p>
    <p>
      Use the Workspace panel to declare a title, add and remove story pages, design your page by placing and layering assets &amp; elements, view keyboard shortcuts, enable and disable the safe zone, and view all story pages in grid mode.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="196" height="400" src="./img/docs/getting-started/8.png"></amp-img></p>
    <p>
      The Design panel on the right contains two tabs: Design, and Document.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="315" height="75" src="./img/docs/getting-started/design-panel.png"></amp-img></p>
    <p>
      Use the "Design" tab to modify properties related to the currently selected element or group of elements, such as position, size, font properties and more. Change the order of elements/layers via the Layer Panel at the bottom of the Design tab.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="153" height="625" src="./img/docs/getting-started/design-tab.png"></amp-img></p>
    <p>
      Use the "Document" tab to control how your story gets published, add any important metadata and control whether pages auto-advance or need to be tapped manually.
    </p>
    <p class="img-wrap"><amp-img layout="intrinsic" width="151" height="621" src="./img/docs/getting-started/document-tab.png"></amp-img></p>

    <h2 id="Help-Center">Help Center</h2>

    <p>The help center built into the editor helps you discover tips & resources to help you get the most out of your Web Stories. Access it via the help button at the bottom:</p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="472" height="742" src="./img/docs/getting-started/quick-tips.png"></amp-img></p>

    <h2 id="Checklist">Pre-Publish Checklist</h2>

    <p>
      The pre-publish checklist alerts you about critical issues that may make your story ineligible to appear on platforms such as Google Search and Google Discover. It offers recommendations about common accessibility shortcomings like low contrast and more.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="401" height="815" src="./img/docs/getting-started/checklist.png"></amp-img></p>

    <h2 id="Keyboard-Shortcuts">Keyboard shortcuts &amp; navigation</h2>

    <p>
      View editor keyboard shortcuts by clicking the keyboard icon in the Workspace panel. Or press <kbd><kbd>Ctrl</kbd>+<kbd>/</kbd></kbd> on Windows and <kbd><kbd>⌘</kbd><kbd>/</kbd></kbd> on Mac.
    </p>
    <p class="img-wrap"><amp-img layout="intrinsic" width="214" height="117" src="./img/docs/getting-started/keyboard-shortcuts-button.png"></amp-img></p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="405" height="350" src="./img/docs/getting-started/keyboard-shortcuts-menu.png"></amp-img></p>

    <h2 id="Templates">Available Templates</h2>

    <p>
      It’s fun and easier to get started building your first story by using one of the dozens of freely available templates from the Explore Templates page. The templates show layering techniques, interesting use of assets, and playful text. Hover over a template and click "See details" to preview or "Use template" to begin editing.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="400" height="321" src="./img/docs/getting-started/12.png"></amp-img></p>

    <p>You can also create your first Web Story from scratch by clicking on the "Create New Story" button on the Web Stories dashboard.</p>
  </section>
</main>
