---
title: Getting Started - Web Stories for WordPress
description: Get started using Web Stories for WordPress! Learn how you can easily create visual narratives with tappable interactions, and share freely across the web, or embed them on your existing content strategies.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/getting-started#Installing-Web-Stories-for-WordPress">Installing Web Stories for WordPress</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Navigating-the-Dashboard">Navigating the Dashboard</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Navigating-the-editor">Navigating the editor</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Keyboard-shortcuts-navigation">Keyboard shortcuts &amp; navigation</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started#Creating-your-first-story">Creating your first story</a></li>
      </ul>
  </span>
  </ul>
</aside>
<main>
  <section id="Getting_Started">
    <h1 id="Getting-started">Getting Started</h1>
    <h2 id="Installing-Web-Stories-for-WordPress">Installing Web Stories for WordPress</h2>
    <p>Use Web Stories for WordPress by installing it directly from the WordPress admin dashboard or <a href="https://wordpress.org/plugins/web-stories/"> manually downloading the plugin via the plugin repository</a>. You must have administrative permission to install a new plugin for both methods. Follow the steps below to install the Web Stories for WordPress plugin:
    <ol>
      <li>Log in to your WordPress website.</li>
      <li>In the left navigation menu, click Plugins.</li>
      <li>Click Add new.</li>
      <li>enter "web stories" in the search bar. you should see the <a href="https://wordpress.org/plugins/web-stories/">Web Stories plugin</a> in a search results page.</li>
      <li>Install and activate the Web Stories plugin.</li>
      <li>Navigating the Dashboard</li>
      <li>Open the Web Stories Dashboard</li>
      <li>Select Stories from the sidebar to navigate to the Web Stories Dashboard.</li>
    </ol>
    <h2 id="Navigating-the-Dashboard">Navigating the Dashboard</h2>
    <h3> Open the Web Stories Dashboard </h3>
    <p>
      Select Stories from the sidebar to navigate to the Web Stories Dashboard.
    </p>
    <p class="img-wrap"><amp-img src="./img/docs/1.png" layout="intrinsic" height="282" width="168" alt="screenshot visually indicating the location of the Stories sidebar option in WordPress"></amp-img></p>
    <h3>Create your first Web Story</h3>
    <p> Start creating your first Web Story from scratch by clicking the blue "Create New Story" button or select "Explore Templates" to jump start with preset layouts and styles (more coming soon!). </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="231" height="194" src="./img/docs/2.png"></amp-img></p>
    <h3> Filter your Stories </h3>
    <p>
      View all your Web Stories, or filter by "draft" status and "published" status by selecting the tabs at the top of the Web Stories Dashboard. Select the drop down under the search bar to sort Stories by their name, date created, last modified, or their creator.
    </p>
    <p class="img-wrap"><amp-img layout="intrinsic" width="400" height="147" src="./img/docs/3.png"></amp-img></p>
    <h3> Change view </h3>
    <p>
      View stories as a list by clicking the icon next to the sort drop down and switch to classic WordPress table view next to the grid icon in case you need it (for instance for certain plugin integrations).
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="400" height="183" src="./img/docs/4.png"></amp-img></p>
    <h3> Add Google Analytics, Publisher Logo, and update sharing settings </h3>
    <p>
      Add a Google Analytics Tracking ID, a Publisher Logo, and change your Data Sharing settings by clicking Editor Settings.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="389" height="215" src="./img/docs/5.png"></amp-img></p>
      <h2 id="Navigating-the-editor">Navigating the editor</h2>
    <p>
      The editor has main three panels. Starting from the left:
    </p>
    <ol>
      <li>The Element Panel,
      <li>The Workspace,
      <li>And the Design Panel.</li>
    </ol>
      <p class="img-wrap"><amp-img layout="intrinsic" width="382" height="400" src="./img/docs/6.png"></amp-img></p>
    <p>
      Use the Element panel on the left to upload assets, add images, text and shapes to your story pages, and create page layouts.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="363" height="62" src="./img/docs/7.png"></amp-img></p>
    <p>
      Use the Workspace panel to declare a title, add and remove story pages, design your page by placing and layering assets &amp; elements, view keyboard shortcuts, enable and disable the safe zone, and view all story pages in grid mode.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="196" height="400" src="./img/docs/8.png"></amp-img></p>
    <p>
      The Design panel on the right contains three tabs: Design, Document, and Checklist.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="278" height="56" src="./img/docs/9.png"></amp-img></p>
    <p>
      Use the "Design" tab to modify properties related to the currently selected element or group of elements, such as position, size, font properties and more. Change the order of elements/layers via the Layer Panel at the bottom of the Design tab.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="148" height="800" src="./img/docs/10.png"></amp-img></p>
    <p>
      Use the "Document" tab to control how your story gets published, add any important metadata and control whether pages auto-advance or need to be tapped manually.
    </p>
    <p class="img-wrap"><amp-img layout="intrinsic" width="148" height="800" src="./img/docs/11.png"></amp-img></p>
    <p>
      The "Checklist" tab has a pre-publish checklist. The pre-publish checklist alerts you about critical issues that may make your story ineligible to appear on platforms such as Google Discover. It offers recommendations about common accessibility shortcomings like low contrast and more.
    </p>
    <p class="img-wrap"><amp-img layout="intrinsic" width="304" height="423" src="./img/docs/checklist.png"></amp-img></p>
    <h2 id="Keyboard-shortcuts-navigation">Keyboard shortcuts &amp; navigation</h2>
    <p>
      View editor keyboard shortcuts by clicking the keyboard icon in the Workspace panel. Or press <kbd>ctrl</kbd> + <kbd>/</kbd> on Windows and <kbd>command ⌘</kbd> + <kbd>/</kbd> on Mac.
    </p>
      <p class="img-wrap"><amp-img layout="intrinsic" width="212" height="351" src="./img/docs/keyboard.png"></amp-img></p>
    <h2 id="Creating-your-first-story">Creating your first story</h2>
    <p>
      It’s fun and easier to get started building your first story using a template from the Explore Templates page. The templates show layering techniques, interesting use of assets, and playful text. Hover over a story and click "See details" to preview or "Use template" to begin editing.
    </p>
    <p class="img-wrap"><amp-img layout="intrinsic" width="400" height="321" src="./img/docs/12.png"></amp-img></p>
    <p>
      You can also create your first Web Story from scratch by selecting the blue "Create New Story" button.
    </p>
  </section>
</main>
