<!doctype html>
<html
    amp
    lang="{{ locale }}"
    id="root"
    class="{{rootClass}}"
  >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://cdn.ampproject.org/v0/amp-auto-lightbox-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
    {% if isdevelopment %}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
    <link rel="icon" href="{{ '/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#f9c412">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">
    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="preconnect" href="/" crossorigin>
    {% if googleanalytics %}
    <script src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js" async="async" custom-element="amp-analytics"></script>
    {% endif %}
    <!-- css is inserted by optimize-html custom plugin -->
  </head>
  <body>
  {% for propertyId in googleanalytics %}
  <amp-analytics  type="gtag" data-credentials="include">
    <script type="application/json">{"vars": {"config": {"{{ propertyId }}": {"groups": "default"}}, "gtag_id": "{{ propertyId }}"}}</script>
  </amp-analytics>
  {% endfor %}

  {% include "header.njk" %}

        {% block article %}
          {{ content | safe }}
        {% endblock %}


  {% include "footer.njk" %}
  </body>
</html>
