---
title: Documentation - Web Stories for WordPress
description: Get started using Web Stories for WordPress! Learn how you can easily create visual narratives with tappable interactions, and share freely across the web, or embed them on your existing content strategies.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/getting-started">Getting Started</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to">How to use the editor</a></li>
        <li><a href="{{ DOCS_BASE }}/best-practices">Best Practices</a></li>
        <li><a href="{{ DOCS_BASE }}/faq">FAQ</a></li>
        <li><a href="{{ DOCS_BASE }}/terms">Terms</a></li>
      </ul>
    </span>
  </ul>
</aside>
<main>
  <section id="getting-started">
    <h1>Documentation</h1>
    <p>Check out our resources below to get started using the Web Stories WordPress plugin!</p>

    <ol>
      <li><a href="{{ DOCS_BASE }}/getting-started">Getting Started</a></li>
      <li><a href="{{ DOCS_BASE }}/how-to">How to use the editor</a></li>
      <li><a href="{{ DOCS_BASE }}/best-practices">Best Practices</a></li>
      <li><a href="{{ DOCS_BASE }}/seo">SEO &amp; Optimization</a></li>
    </ol>
  </section>
</main>
