/* Web Stories: Carousel View */

@media all and (min-width: 676px) {
  .web-stories-list.is-view-type-carousel .web-stories-list__story {
    max-width: var(--ws-story-max-width);
  }
}

.web-stories-list.is-view-type-carousel .web-stories-list__story-placeholder {
  position: relative;
}

.web-stories-list.is-view-type-carousel.is-style-default
  .web-stories-list__story-placeholder {
  border-radius: 8px;
  overflow: hidden;
}

.is-carousel .glider-next {
  right: 0;
  transform: translateY(-50%);
}

.is-carousel .glider-prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.is-carousel .amp-carousel-button,
.is-carousel .glider-next,
.is-carousel .glider-prev {
  border-radius: 50%;
  background-color: #eaeaea;
  background-image: url('./../../../../images/web-stories/block/carousel-arrow.svg');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  margin: 16px;
  border-style: none;
  z-index: 10;
  pointer-events: all;
  cursor: pointer;
}

.is-carousel .glider-next,
.is-carousel .glider-prev {
  padding: 10px;
  top: 50%;
}

.is-carousel .glider-next:not(.disabled):hover,
.is-carousel .glider-prev:not(.disabled):hover,
.is-carousel .glider-next:not(.disabled):focus,
.is-carousel .glider-prev:not(.disabled):focus {
  filter: invert(1);
}

.is-carousel .amp-carousel-button-prev {
  transform: rotate(180deg);
}

.is-carousel .amp-carousel-button:not(.amp-disabled):hover {
  filter: invert(1);
}
