/* Web Stories: Carousel View */

@media all and (min-width: 676px) {
  .web-stories-list.is-view-type-carousel .web-stories-list__story {
    max-width: var(--ws-story-max-width);
  }
}

.web-stories-list.is-carousel .glider-next,
.web-stories-list.is-carousel .amp-carousel-button-next {
  right: 0;
  background-image: url('./../../icons/carousel-arrow-next.svg');
}

.web-stories-list.is-carousel .glider-prev,
.web-stories-list.is-carousel .amp-carousel-button-prev {
  left: 0;
  background-image: url('./../../icons/carousel-arrow-prev.svg');
}

.web-stories-list.is-carousel .amp-carousel-button,
.web-stories-list.is-carousel .glider-next,
.web-stories-list.is-carousel .glider-prev {
  border-radius: 50%;
  background-color: #eaeaea;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  border-style: none;
  z-index: 10;
  pointer-events: all;
  cursor: pointer;
}

.web-stories-list.is-carousel .glider-next,
.web-stories-list.is-carousel .glider-prev {
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Temporary till we have full support for the RTL carousel. */
html[dir='rtl'] .glider-next.disabled,
html[dir='rtl'] .glider-prev.disabled {
  opacity: 1;
  cursor: pointer;
}

html[dir='rtl'] .glider-next.disabled:hover,
html[dir='rtl'] .glider-prev.disabled:hover,
.web-stories-list.is-carousel .glider-next:not(.disabled):hover,
.web-stories-list.is-carousel .glider-prev:not(.disabled):hover,
.web-stories-list.is-carousel .glider-next:not(.disabled):focus,
.web-stories-list.is-carousel .glider-prev:not(.disabled):focus,
.web-stories-list.is-carousel .amp-carousel-button:not(.amp-disabled):hover {
  filter: invert(1);
}
