/* Web Stories: Circles View */
.web-stories-list {
  max-width: var(
    --ws-container-max-width
  ); /* Limit the width so that the nav arrows don't stick to the edges of the viewport. */
  margin: 0 auto;
}

.web-stories-list.is-carousel .web-stories-list__carousel {
  display: flex;
  overflow-y: hidden;
}
.web-stories-list.is-view-type-circles .glider-track {
  justify-content: center;
  margin: 0 auto;
}

.web-stories-list.is-view-type-circles .web-stories-list__story {
  max-width: var(--ws-circle-size);
  min-width: var(--ws-circle-size);
  margin: 0 5px;
  text-align: center;
  display: inline-block;
}

.web-stories-list.is-view-type-circles .web-stories-list__story-poster img {
  position: relative;
  height: var(--ws-circle-size);
  width: var(--ws-circle-size);
  max-width: initial;
  border-radius: 50%;
  background-clip: content-box;
  border: 2px solid var(--ws-circle-border-color);
  padding: 2px;
}

.web-stories-list.is-view-type-circles .web-stories-list__story-poster::after,
.web-stories-list.is-view-type-circles .web-stories-list__story-poster::before {
  display: none;
}

.web-stories-list.is-view-type-circles .story-content-overlay__title {
  font-size: var(--ws-font-size-circle-title);
}

.web-stories-list.is-view-type-circles.has-title .glider-next,
.web-stories-list.is-view-type-circles.has-title .glider-prev {
  top: 35%;
}
