---
title: Best Practices - Web Stories for WordPress
description: Get started using Web Stories for WordPress! Learn how you can easily create visual narratives with tappable interactions, and share freely across the web, or embed them on your existing content strategies.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li><a href="{{ DOCS_BASE }}/best-practices/#Using-assistive-text-for-images-video">Using assistive text for images &amp; video</a></li>
      <li><a href="{{ DOCS_BASE }}/best-practices/#Video-captioning">Include video captions</a></li>
      <li><a href="{{ DOCS_BASE }}/best-practices/#Avoiding-burned-in-text-on-assets">Avoiding ‘burned-in’ text on assets</a></li>
      <li><a href="{{ DOCS_BASE }}/best-practices/#Media-Optimization">Optimizing your images &amp; videos</a></li>
      <li><a href="{{ DOCS_BASE }}/best-practices/#Embeds">Embedding stories</a></li>
    </span>
  </ul>
</aside>
<main>
  <section id="Best_Practices">
    <h1>Best Practices</h1>

    <h2 id="Using-assistive-text-for-images-video">Using assistive text for images &amp; video</h2>

    <p>
      Make your images and videos accessible to users of screen readers by adding assistive text.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="417" height="314" src="./img/docs/best-practices/video-a11y.png"></amp-img>
    </p>

    <p>
      For images, insert a description of the image in the "Accessibility" section of the Design panel.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="350" height="150" src="./img/docs/best-practices/image-captions.png"></amp-img>
    </p>

    <p>
      For videos, fill out both the "Title" and "Assistive text" text fields in the "Accessibility section of the Design panel. The title should be a description of the video itself, whereas the assistive text should describe the contents of the video.
    </p>

    <p>
      <b>Note</b>: Ensure these text fields are empty for images and videos that are purely presentational and have no meaning to a screen reader user.
    </p>

    <h2 id="Video-captioning">Include video captions</h2>

    <p>
      Add video captions to give viewers with hearing impairments, or who are in situations where they can't listen to audio, the full story. Include captions by:
    </p>

    <ul class="real-ul">
      <li>Formatting caption text in the required <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API">WebVTT file</a></li>
      <li>Select the video element on the canvas</li>
      <li>Open the "Captions" drop down in the Design Panel</li>
      <li>Click the "Upload captions" button and select the WebVTT file</li>
    </ul>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="347" height="120" src="./img/docs/best-practices/video-captions.png"></amp-img>
    </p>

    <p><b>Tip:</b> There are several tools and online services that allow you to create such WebVTT files, many of them are free.</p>

    <h2 id="Avoiding-burned-in-text-on-assets">Avoiding ‘burned-in’ text on assets</h2>
    <p>
      It’s tempting to reuse video and composite images you have prepared before. Oftentimes, these assets have ‘burned-in’ text, which means that the text is part of the actual image or video. This isn’t only bad for accessibility, but also makes it hard for search engines to understand your content.
    </p>

    <p>
      Instead, use assets that are clean, and layer text elements on top using the element.
    </p>

    <h2 id="Media-Optimization">Optimizing your images &amp; videos</h2>

    <p>
      <b>Did you know?</b> When you upload videos to the story editor, it will automatically optimize videos for optimal load times. While this feature can be disabled in the settings, we recommend keeping it enabled. Video files that are too large or have an unsupported format (like <code>.mov</code>) will otherwise not display properly.
    </p>

    <p>The editor doesn’t yet have the capability to automatically optimize image content, it’s a good idea to invest into optimizing them in advance.

    <p>
      To optimize your images:
    </p>
    <ul class="real-ul">
      <li>Crop to only the visible portion of your image</li>
      <li>Use PNG8+alpha or WebP for images that require transparency (for example by using <a href="https://pngmini.com/">ImageAlpha</a> or <a href="https://squoosh.app/">Squoosh</a>)</li>
      <li>Use optimized JPEGs or WebP for all other images (easy with <a href="https://squoosh.app/">Squoosh</a>)</li>
      <li>Avoid GIFs (use autoplaying looping video instead)</li>
    </ul>

    <p>
      And in case you want to manually optimize videos before uploading:
    </p>

    <ul class="real-ul">
      <li>Trim to the exact length you need</li>
      <li>Crop to only the visible portion of our video (usually vertical, 9:16)
      <li>Encode with the highest compression yielding acceptable results. For H264, that’s often below a CRF of 23 or a bit rate below 1500kbps</li>
    </ul>

    <h2 id="Embeds">Embedding Web Stories across your site</h2>

    <p>
      The Web Stories WordPress plugin not only makes it easy for you to create beautiful stories. It also provides numerous ways to embed Web Stories across your site, including a versatile Web Stories block, integration of Web Stories into the theme customization process, and integration with the classic editor.
    </p>

    <p>Integrating Web Stories into your content strategy allows you to enhance the quality of your content strategy and to diversify your traffic sources. You can embed your own Web Stories or Web Stories created by other publishers on your site.</p>

    <p>Check out the <a href="https://blog.google/web-creators/embedding-web-stories-across-your-site/">Web Stories embeds blog post</a> to learn more.</p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="1000" height="910" src="./img/docs/best-practices/web-stories-block.png"></amp-img>
    </p>
  </section>
</main>
