---
title: Documentation - Web Stories for WordPress
description: Get started using Web Stories for WordPress! Learn how you can easily create visual narratives with tappable interactions, and share freely across the web, or embed them on your existing content strategies.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/seo#Adding-necessary-metadata">Adding necessary metadata</a></li>
        <li><a href="{{ DOCS_BASE }}/seo#Monetize-your-stories">Monetize your stories</a></li>
        <li><a href="{{ DOCS_BASE }}/seo#Adding-Analytics">Adding Analytics</a></li>
        <li><a href="https://blog.amp.dev/2020/02/12/seo-for-amp-stories/">Additional SEO advice</a></li>
      </ul>
    </span>
  </ul>
</aside>
<main>
  <section id="SEO-Optimization">
    <h1>SEO &amp; Optimization</h1>
    <h2 id="Adding-necessary-metadata">Adding metadata</h2>
    <p>
      Metadata can be attached to the Web Story from the Document tab in the Design panel. This includes the cover image, author, and an excerpt or description. Adding these ensures maximum compatibility with search engines and discovery features that take advantage of that metadata.
    </p>
    <h2 id="Monetize-your-stories">Monetize your stories</h2>
    <p>
    Make money off your Web Stories by automatically inserting ads between pages. You can enable the following supported integrations in your plugin's settings:
    </p>
    <ul class="real-ul">
      <li><a href="https://support.google.com/adsense/answer/10175505?hl=en">AdSense</a></li>
      <li><a href="https://support.google.com/admanager/answer/9416436?hl=en">Ad Manager Programatic Demand</a></li>
    </ul>
    <p class="img-wrap"><amp-img layout="intrinsic" width="500" height="149" src="./img/docs/monetize-your-story.png"></amp-img></p>
    <h2 id="Adding-Analytics">Adding Analytics</h2>
    <p>
      There are two ways to include analytics in your Web Stories:
    </p>

    <ul class="real-ul">
      <li>Add your Google Analytics ID in the "Editor Settings".
      <li>If you use the <a href="https://sitekit.withgoogle.com/">Site Kit by Google WordPress</a> plugin, you can set up Web Story analytics there.</li>
    </ul>
    <p>
      <b>Note</b>: Site Kit and Tag Manager do not yet work together. <a href="https://github.com/google/site-kit-wp/issues/2070">Follow progress here</a>.
    </p>
    <h3>What is the "improved analytics configuration"?</h3>
    <p>
      From v1.0 to v1.12, Web Stories for WordPress used an analytics configuration with a custom set of events.
      Starting in v1.13, we changed the default analytics configuration to a streamlined, <a href="https://amp.dev/documentation/components/amp-story-auto-analytics/">recommended preset</a> with fewer events.
      Existing users will continue to use the previous configuration unless opted-in by clicking the "Migrate" button.
      The specific changes are listed in the table below.
    </p>
    <table>
      <tr>
        <th>Before v1.13</th>
        <th>v1.13 and later</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>N/A</td>
        <td><code>story_page_count</code></td>
        <td>Fired once per story view. Parameters: the story title and number of pages.</td>
      </tr>
      <tr>
        <td><code>story_progress</code></td>
        <td><code>story_pages_viewed</code></td>
        <td>Fired when a story page becomes visible. Parameters: the story title and viewed page index.</td>
      </tr>
      <tr>
        <td><code>story_complete</code></td>
        <td><code>story_complete</code></td>
        <td>Fired when the last story page displays to the user (can be used to measure completion rate). Parameters: the story title.</td>
      </tr>
      <tr>
        <td><code>story_focus</code></td>
        <td>(Removed)</td>
        <td>Fired when clicking an element that opens a tooltip such as an `<a>` link or twitter embed.</td>
      </tr>
      <tr>
        <td><code>story_click_through</code></td>
        <td>(Removed)</td>
        <td>Fired when clicking on a tooltip.</td>
      </tr>
      <tr>
        <td><code>story_open</code></td>
        <td>(Removed)</td>
        <td>Fired when opening a drawer or dialog inside a story, such as a page attachment.</td>
      </tr>
      <tr>
        <td><code>story_close</code></td>
        <td>(Removed)</td>
        <td>Fired when closing a drawer or dialog inside a story, such as a page attachment.</td>
      </tr>
      <tr>
        <td><code>story_audio_muted</code></td>
        <td>(Removed)</td>
        <td>Fired when the user initiates an interaction to mute the audio for the current story.</td>
      </tr>
      <tr>
        <td><code>story_audio_unmuted</code></td>
        <td>(Removed)</td>
        <td>Fired when the user initiates an interaction to unmute the audio for the current story.</td>
      </tr>
      <tr>
        <td><code>story_page_attachment_enter</code></td>
        <td>(Removed)</td>
        <td>Fired when a user opens a page attachment.</td>
      </tr>
      <tr>
        <td><code>story_page_attachment_exit</code></td>
        <td>(Removed)</td>
        <td>Fired when a user closes a page attachment.</td>
      </tr>
      <tr>
        <td><code>story_bookend_enter</code></td>
        <td>(Removed)</td>
        <td>Fired when the the story displays the bookend to the user, after the last page of the current story.</td>
      </tr>
      <tr>
        <td><code>story_bookend_exit</code></td>
        <td>(Removed)</td>
        <td>Fired when the user dismisses the bookend.</td>
      </tr>
    </table>
    <h2 id="Additional-SEO-advice">Additional SEO advice</h2>
    <p>
      For more in-depth SEO advice, read <a href="https://blog.amp.dev/2020/02/12/seo-for-amp-stories/">SEO for AMP Stories</a> on the AMP Blog.
    </p>
  </section>
</main>
