---
title: Terms - Web Stories for WordPress
description: Terms and Services for Web Stories for WordPress. Learn how you can easily create visual narratives with tappable interactions, and share freely across the web, or embed them on your existing content strategies.
layout: layouts/base.njk
rootClass: docs
---

<main>
  <section id="terms">
    <h1>Terms</h1>
    <p>
      Use of <b>Web Stories for WordPress</b> is subject to <a href="https://policies.google.com/terms">Google's Terms of Service</a>.
    </p>
    <p>
      Use of photos provided by Unsplash is subject to <a href="https://unsplash.com/terms">Unsplash's Terms of Service</a>.
    </p>
    <p>
      Use of videos provided by Coverr is subject to <a href="https://coverr.co/license">Coverr's Terms of Service</a>.
    </p>
    <p>
      Use of GIFs provided by Tenor is subject to <a href="https://tenor.com/legal-terms">Tenor's Terms of Service</a>.
    </p>
  </section>
</main>
