.web-stories-theme-header-section
  .web-stories-list.is-carousel
  .web-stories-list__archive-link {
  font-size: var(--primary-nav--font-size-button);
  font-weight: var(--primary-nav--font-weight-button);
}

@media only screen and (max-width: 481px) {
  /* To ensure that the 'view-all' link has some space from the frame. */
  .web-stories-theme-header-section .web-stories-list__inner-wrapper {
    max-width: var(--responsive--aligndefault-width);
    margin-left: auto;
    margin-right: auto;
  }

  /* Fix for menu toggle overlap. */
  .web-stories-theme-header-section .web-stories-list {
    margin-top: 72px;
  }

  .web-stories-theme-header-section .web-stories-list.is-view-type-circles {
    margin-top: 72px;
    padding-top: 0;
  }

  .web-stories-theme-header-section
    .web-stories-list.is-carousel.has-archive-link {
    margin-top: 24px;
    padding-top: 72px;
  }

  /* Fix for menu toggle overlap on AMP. */
  html[amp] .web-stories-theme-header-section .web-stories-list.is-carousel {
    margin-top: 0;
    padding-top: 72px; /* same as above */
  }

  html[amp]
    .web-stories-theme-header-section
    .web-stories-list.is-carousel.has-archive-link {
    padding-top: calc(
      72px + 24px
    ); /* default margin from common.css plus above offset */
  }

  /* Carousel arrows were visible over primary navigation menu on mobile. */
  .lock-scrolling .site {
    z-index: 10;
  }
}
