<header>
  <span>
    <a class="logo_link" href="{{ 'https://google.com' | url }}" title="Google.com">
      {% include "./img/google.svg" %}
    </a>
    <a href="/">Web&nbsp;Stories&nbsp;<wbr>for&nbsp;WordPress</a>
  </span>

  <nav>
    <ul class="links">
    <li {% if rootClass == 'home' %} class="current" {% endif %}>
        <a href="/" >{{$("About") }}</a>
      </li>
      <li {% if rootClass == 'docs' %} class="current" {% endif %}>
        <a href="/docs">{{$("Documentation") }}</a>
          <button class="toggle" [class]="docsMenuActive? 'toggle active' : 'toggle'" class="hide" on="tap:AMP.setState({docsMenuActive: !docsMenuActive})" >
            {% include "./img/toggle.svg" %}
            <span class="visuallyhidden">show submenu for "Documentation"</span>
          </button>
          {% include "documentation_menu.njk" %}
      </li>
      <li>
        <a href="https://wordpress.org/support/plugin/web-stories/">{{$("Support") }}</a>
      </li>
      <li>
        <a href="https://github.com/google/web-stories-wp">{{$("GitHub") }}</a>
      </li>
    </ul>
    <a href="https://wordpress.org/plugins/web-stories/" class="fake_button">{{$("Download Plugin") }}</a>
</header>
