# Once a PR has been merged, this action adds it to the upcoming release.
#
# See https://github.com/googleforcreators/web-stories-wp/issues/6301

name: Add milestone

on:
  pull_request:
    types:
      - closed
    branches:
      - main

env:
  PR_NUMBER: ${{ github.event.pull_request.number }}
  ISSUE_REFERENCE_REGEX: \(#([0-9]+)\)
  GITHUB_REPO_ID: 235435637

jobs:
  add-milestone:
    name: Add milestone
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: github.event.pull_request.merged == true
    steps:
      # https://github.com/ZenHubIO/API#get-release-reports-for-a-repository
      # https://github.com/ZenHubIO/API#add-or-remove-issues-to-or-from-a-release-report
      - name: Get next release
        id: release
        run: |
          echo "Getting list of releases from ZenHub"

          RELEASES=$(curl -f -s -H "X-Authentication-Token: $ZENHUB_API_TOKEN" "https://api.zenhub.com/p1/repositories/${GITHUB_REPO_ID}/reports/releases")
          NEXT_RELEASE=$((echo $RELEASES ) | jq -r 'first(sort_by(.desired_end_date) | .[] | select( .state == "open" )) | .release_id')

          echo "Determined release with ID $NEXT_RELEASE to be the next one"

          echo "::set-output name=release_id::$NEXT_RELEASE"
        env:
          ZENHUB_API_TOKEN: ${{ secrets.ZENHUB_API_TOKEN }}

      # https://github.com/ZenHubIO/API#add-or-remove-issues-to-or-from-a-release-report
      - name: Add PR to release
        run: |
          echo "Adding PR $PR_NUMBER to release $RELEASE_ID"

          curl -f -s -H "X-Authentication-Token: $ZENHUB_API_TOKEN" -H 'Content-Type: application/json' -X PATCH "https://api.zenhub.com/p1/reports/release/${RELEASE_ID}/issues" -d '{ "add_issues": [{ "repo_id": '"$GITHUB_REPO_ID"', "issue_number": '"$PR_NUMBER"' }], "remove_issues": [] }'
        env:
          ZENHUB_API_TOKEN: ${{ secrets.ZENHUB_API_TOKEN }}
          RELEASE_ID: ${{ steps.release.outputs.release_id }}

      - name: Retrieve linked issues
        uses: actions/github-script@v6
        id: linked-issues
        with:
          script: |
            const { PR_NUMBER } = process.env
            const query = `query linkedIssues($name:String!, $owner:String!) {
              repository(name: $name, owner: $owner) {
                pullRequest(number: ${PR_NUMBER}) {
                  title
                  closingIssuesReferences(first: 10) {
                    nodes {
                      number
                    }
                  }
                }
              }
            }`
            const variables = {
              owner: context.repo.owner,
              name: context.repo.repo,
            }
            return github.graphql(query, variables)

      # https://github.com/ZenHubIO/API#add-or-remove-issues-to-or-from-a-release-report
      # https://docs.github.com/en/graphql/reference/objects#issueconnection
      - name: Add linked issues to release
        run: |
          ISSUE_NUMBERS=$((echo $LINKED_ISSUES ) | jq '.repository.pullRequest.closingIssuesReferences.nodes | .[] | .number')

          if [[ -z $ISSUE_NUMBERS ]]; then
            echo "No linked issues, nothing to do"
            exit 0
          fi

          while IFS= read -r ISSUE_NUMBER; do
            echo "Adding linked issue $ISSUE to release $RELEASE_ID"
            curl -f -s -H "X-Authentication-Token: $ZENHUB_API_TOKEN" -H 'Content-Type: application/json' -X PATCH "https://api.zenhub.com/p1/reports/release/${RELEASE_ID}/issues" -d '{ "add_issues": [{ "repo_id": '"$GITHUB_REPO_ID"', "issue_number": '"$ISSUE_NUMBER"' }], "remove_issues": [] }'
          done <<< "$ISSUE_NUMBERS"
        env:
          ZENHUB_API_TOKEN: ${{ secrets.ZENHUB_API_TOKEN }}
          RELEASE_ID: ${{ steps.release.outputs.release_id }}
          LINKED_ISSUES: ${{ steps.linked-issues.outputs.result }}
