name: Build plugin

on:
  push:
    # Don't run for irrelevant changes.
    paths-ignore:
      - 'docs/**'
      - '.storybook/**'
      - '.wordpress-org/**'
      - '__mocks__/**'
      - '__static__/**'
      - 'bin/**'
      - 'packages/e2e-test-utils/**'
      - 'packages/e2e-tests/**'
      - 'packages/karma-*/**'
      - 'tests/**'
      - '**.md'
      - '**.yml'
      - '**.neon.dist'
      - '**.xml.dist'
      - '.editorconfig'
      - '.eslint*'
      - '.markdownlint*'
      - '.phpstorm.meta.php'
      - '.prettier*'
      - '.stylelint*'
      - '.github/workflows/**'
      - '!.github/workflows/build-and-deploy.yml'
    branches:
      - main
      - release/*
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    # Don't run for irrelevant changes.
    paths-ignore:
      - 'docs/**'
      - '.storybook/**'
      - '.wordpress-org/**'
      - '__mocks__/**'
      - '__static__/**'
      - 'bin/**'
      - 'packages/e2e-test-utils/**'
      - 'packages/e2e-tests/**'
      - 'packages/karma-*/**'
      - 'tests/**'
      - '**.md'
      - '**.yml'
      - '**.neon.dist'
      - '**.xml.dist'
      - '.editorconfig'
      - '.eslint*'
      - '.markdownlint*'
      - '.phpstorm.meta.php'
      - '.prettier*'
      - '.stylelint*'
      - '.github/workflows/**'
      - '!.github/workflows/build-and-deploy.yml'

permissions:
  contents: read
  pull-requests: write

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the (target) branch name.
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  bundle-size:
    name: Bundle size check
    runs-on: ubuntu-latest
    timeout-minutes: 15
    # The action cannot annotate the PR when run from a PR fork or authored by Dependabot.
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.draft == false &&
      github.event.pull_request.head.repo.fork == false &&
      github.event.pull_request.user.login != 'dependabot[bot]'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-file-monitoring: true
          egress-policy: block
          allowed-endpoints: >
            cloudresourcemanager.googleapis.com:443
            codeserver.dev.6b7f1eeb-705b-4201-864d-2007030c8372.drush.in:2222
            dl.google.com:443
            github.com:443
            api.github.com:443
            oauth2.googleapis.com:443
            objects.githubusercontent.com:443
            packagist.org:443
            registry.npmjs.org:443
            storage.googleapis.com:443
            54.185.253.63:443

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Bundle size check
        uses: preactjs/compressed-size-action@946a292cd35bd1088e0d7eb92b69d1a8d5b5d76a
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          pattern: '{assets/js/*.js,assets/css/*.css}'
          build-script: 'build:js'
          minimum-change-threshold: 100
          # Ignore chunk and module hashes in bundle filenames.
          strip-hash: '.*-(\w{20})|^(\d{2,5})\.js$'
