# This workflow removes any assets created for manual QA testing
# from the GCP bucket once a pull request is closed.

name: Clean up PR assets

on:
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  remove-pr:
    name: Cleanup storage
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: >
      github.event.pull_request.draft == false &&
      github.event.pull_request.head.repo.fork == false &&
      github.event.pull_request.user.login != 'dependabot[bot]'
    steps:
      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@877d4953d2c70a0ba7ef3290ae968eb24af233bb
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Prune PR files
        run: gsutil rm -rf gs://web-stories-wp-github-artifacts/refs/pull/${{ github.event.pull_request.number }}
