# This workflow removes any assets created for manual QA testing
# from the GCP bucket once a pull request is closed.

name: Clean up PR assets

on:
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  remove-pr:
    name: Cleanup storage
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: >
      github.event.pull_request.draft == false &&
      github.event.pull_request.head.repo.fork == false &&
      github.event.pull_request.user.login != 'dependabot[bot]'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            cloudresourcemanager.googleapis.com:443
            dl.google.com:443
            oauth2.googleapis.com:443
            storage.googleapis.com:443

      - name: Authenticate
        uses: google-github-actions/auth@ef5d53e30bbcd8d0836f4288f5e50ff3e086997d
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          create_credentials_file: false

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@d51b5346f85640ec2aa2fa057354d2b82c2fcbce
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Prune PR files
        run: gsutil rm -rf gs://web-stories-wp-github-artifacts/refs/pull/${{ github.event.pull_request.number }}
