name: Build plugin

on:
  push:
    branches:
      - master
      - release/*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Setup npm cache
        uses: pat-s/always-upload-cache@v1.1.4
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ env.cache-name }}-
            ${{ runner.os }}-npm-
            ${{ runner.os }}-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          coverage: none
          tools: composer

      - name: Get Composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Setup Composer cache
        uses: pat-s/always-upload-cache@v1.1.4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          npm ci
          composer install --prefer-dist --no-suggest --no-progress --no-interaction
        env:
          CI: true
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true

      - name: Bundle plugin
        run: |
          echo 'assets/images/templates' >> .distignore
          npm run build:js
          npm run workflow:build-plugin -- --cdn
          npm run workflow:bundle-plugin web-stories-composer.zip -- --composer --skip-delete
          npm run workflow:bundle-plugin web-stories.zip -- --skip-delete

      - name: Bundle development version
        run: |
          rm -rf assets/css/* assets/js/*
          NODE_ENV=development npx webpack
          npm run workflow:build-plugin
          npm run workflow:bundle-plugin web-stories-dev.zip -- --skip-delete

      - name: Upload full bundle
        uses: actions/upload-artifact@v2
        with:
          name: web-stories.zip
          path: build/web-stories.zip

      - name: Upload composer bundle
        uses: actions/upload-artifact@v2
        with:
          name: web-stories-composer.zip
          path: build/web-stories-composer.zip

      - name: Upload development bundle
        uses: actions/upload-artifact@v2
        with:
          name: web-stories-dev.zip
          path: build/web-stories-dev.zip

      - name: Upload bundles in combined ZIP file
        uses: actions/upload-artifact@v2
        with:
          name: All ZIP Files
          path: build/*.zip
