name: Integration Tests

on:
  push:
    branches:
      - master
      - release/*
  pull_request:

jobs:
  karma:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.nvm.outputs.NVMRC }}

      - name: Setup npm cache
        uses: pat-s/always-upload-cache@v1.1.4
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ env.cache-name }}-
            ${{ runner.os }}-npm-
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Run integration tests
        run: npm run test:karma -- --headless --snapshots --viewport=1600:1000 --coverage

      - name: Add files for snapshotting
        run: cp -r __static__ .test_artifacts/karma_snapshots/

      - name: Uplaod code coverage report
        uses: codecov/codecov-action@v1
        with:
          file: build/logs/karma-coverage/lcov.info
          flags: editor.karma

      - name: Upload Percy snapshots
        uses: percy/snapshot-action@v0.1.1
        with:
          build-directory: '.test_artifacts/karma_snapshots'
          flags: '--config=percy.config.yml'
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
