name: PHP Unit Tests

on:
  push:
    branches:
      - master
      - release/*
  pull_request:

jobs:
  unit-php:
    name: PHP ${{ matrix.php }} - Multisite ${{ matrix.multisite }}
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mariadb:latest
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_ROOT_PASSWORD:
          MYSQL_DATABASE: wordpress_test
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    continue-on-error: ${{ matrix.experimental == true }}
    strategy:
      matrix:
        php: ['7.4', '7.0', '5.6']
        wp: ['latest']
        multisite: ['false']
        include:
          - php: '8.0'
            wp: 'trunk'
            multisite: false
            experimental: true
          - php: '7.4'
            wp: 'latest'
            multisite: true
            experimental: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mysql
          coverage: xdebug
          tools: composer, cs2pr

      - name: Shutdown default MySQL service
        run: sudo service mysql stop

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h"127.0.0.1" -P"${{ job.services.mysql.ports[3306] }}" --silent; do
            sleep 1
          done

      - name: Get Composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Setup Composer cache
        uses: pat-s/always-upload-cache@v1.1.4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
            ${{ runner.os }}-

      - name: Install dependencies
        run: composer install --prefer-dist --no-suggest --no-progress --no-interaction

      - name: Set up tests
        run: bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1:${{ job.services.mysql.ports['3306'] }} ${{ matrix.wp }} true

      - name: Run tests
        run: npm run test:php
        if: ${{ matrix.wp != 'latest' || matrix.php != 7.4 && matrix.multisite == false }}

      - name: Run tests ( multisite )
        run: npm run test:php -- --verbose -c phpunit-multisite.xml.dist
        if: ${{ matrix.wp != 'latest' || matrix.php != 7.4 && matrix.multisite == true }}

      - name: Run tests with coverage
        run: npm run test:php -- --coverage-clover build/logs/clover.xml
        if: ${{ matrix.wp == 'latest' && matrix.php == 7.4 }}

      - name: Uplaod code coverage report
        uses: codecov/codecov-action@v1
        with:
          file: build/logs/clover.xml
        if: ${{ matrix.wp == 'latest' && matrix.php == 7.4 }}
