name: Deploy to GH Pages

on:
  push:
    # Don't run for irrelevant changes.
    paths-ignore:
      - 'docs/**'
      - '!.github/workflows/deploy-storybook.yml'
      - '.storybook/**'
      - '.wordpress-org/**'
      - '__mocks__/**'
      - '__static__/**'
      - 'bin/**'
      - 'tests/**'
    branches:
      - main

permissions:
  contents: read

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the (target) branch name.
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-storybook:
    name: Build storybook
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Setup Node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: npm ci
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true

      - name: Build storyook
        run: npm run storybook:build

      - name: Upload storybook
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: storybook-files
          path: build/storybook

  deploy-gh-pages:
    name: Deploy storybook
    runs-on: ubuntu-latest
    permissions:
      contents: write # for Git to git push
    timeout-minutes: 10
    needs: [build-storybook]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          ref: gh-pages
          token: ${{ secrets.GOOGLEFORCREATORS_BOT_TOKEN }}

      - name: Download storybook files
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: storybook-files
          path: storybook-files

      - name: Move storybook assets
        run: |
          mkdir -p storybook
          rm -rf storybook/*
          mv storybook-files/* storybook/

      - name: Commit updates
        run: |
          git add .
          git status
          git diff --staged --quiet && echo 'No changes to commit; exiting!' && exit 0
          git commit -m "Deploy storybook for ${{ github.sha }}"
          git pull --rebase --no-edit --quiet
          git push origin gh-pages
        env:
          GIT_AUTHOR_EMAIL: 94923726+googleforcreators-bot@users.noreply.github.com
          GIT_AUTHOR_NAME: googleforcreators-bot
          GIT_COMMITTER_EMAIL: 94923726+googleforcreators-bot@users.noreply.github.com
          GIT_COMMITTER_NAME: googleforcreators-bot
