name: Lint PHP

on:
  push:
    # Only run if PHP-related files changed.
    paths:
      - '**.php'
      - 'phpcs.xml.dist'
      - 'phpmd.xml'
      - 'phpstan.neon.dist'
      - 'composer.json'
      - 'composer.lock'
      - '.github/workflows/lint-php.yml'
    branches:
      - main
      - release/*
  pull_request:
    # Only run if PHP-related files changed.
    paths:
      - '**.php'
      - 'phpcs.xml.dist'
      - 'phpmd.xml'
      - 'phpstan.neon.dist'
      - 'composer.json'
      - 'composer.lock'
      - '.github/workflows/lint-php.yml'

permissions:
  contents: read

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the (target) branch name.
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - uses: GoogleForCreators/web-stories-wp/.github/actions/install-php-deps@main

      - name: Validate composer.json
        run: composer --no-interaction validate --no-check-all

      - name: Detect coding standard violations (PHPCS)
        run: vendor/bin/phpcs -q --report=checkstyle --severity=1 --runtime-set ignore_errors_on_exit 1 --runtime-set ignore_warnings_on_exit 1 | cs2pr --graceful-warnings

      - name: Static Analysis (PHPStan)
        run: composer phpstan

      - name: Static Analysis (PHPMD)
        run: composer phpmd

      - name: Normalize composer.json
        run: composer composer-normalize --no-interaction -- --dry-run
