name: Lint CSS/JS/MD

on:
  push:
    # Only run if CSS/JS/MD-related files changed.
    paths:
      - '**.js'
      - '**.cjs'
      - '**.css'
      - 'docs/**/*.md'
      - 'packages/**/*.md'
      - '.eslint*'
      - '.markdownlint*'
      - '.npmpackagejsonlintrc.json'
      - '.nvmrc'
      - '.prettier*'
      - '.stylelint*'
      - '**/package.json'
      - 'package-lock.json'
    branches:
      - main
      - release/*
  pull_request:
    # Only run if CSS/JS/MD-related files changed.
    paths:
      - '**.js'
      - '**.cjs'
      - '**.css'
      - 'docs/**/*.md'
      - 'packages/**/*.md'
      - '.eslint*'
      - '.markdownlint*'
      - '.npmpackagejsonlintrc.json'
      - '.nvmrc'
      - '.prettier*'
      - '.stylelint*'
      - '**/package.json'
      - 'package-lock.json'

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests
  # or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      checks: write # for ataylorme/eslint-annotate-action to create checks
      contents: read # for actions/checkout to fetch code
      pull-requests: read # for ataylorme/eslint-annotate-action to get changed PR files
    timeout-minutes: 15
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@74b568e8591fbb3115c70f3436a0c6b0909a8504
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Setup Node
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: npm ci
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true

      - name: Markdown Lint
        run: npm run lint:md

      - name: CSS Lint
        run: npm run lint:css

      - name: package.json Lint
        run: npm run lint:package-json

      - name: JS Lint
        run: npm run lint:js
        if: >
          github.event.pull_request.head.repo.fork == true ||
          github.event.pull_request.user.login == 'dependabot[bot]'

      - name: JS Lint Report
        run: npm run lint:js:report
        continue-on-error: true
        # Prevent generating the ESLint report if PR is from a fork or authored by Dependabot.
        if: >
          github.event.pull_request.head.repo.fork == false &&
          github.event.pull_request.user.login != 'dependabot[bot]'

      - name: Annotate JS Lint Results
        uses: ataylorme/eslint-annotate-action@1.2.0
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          report-json: 'build/lint-js-report.json'
        # The action cannot annotate the PR when run from a PR fork or authored by Dependabot.
        if: >
          github.event.pull_request.head.repo.fork == false &&
          github.event.pull_request.user.login != 'dependabot[bot]'
