name: Lint CSS/JS/MD

on:
  push:
    # Only run if CSS/JS/MD-related files changed.
    paths:
      - '**.js'
      - '**.cjs'
      - '**.ts'
      - '**.css'
      - 'docs/**/*.md'
      - 'packages/**/*.md'
      - '.eslint*'
      - '.markdownlint*'
      - '.npmpackagejsonlintrc.json'
      - '.nvmrc'
      - '.prettier*'
      - '.stylelint*'
      - '**/package.json'
      - 'package-lock.json'
    branches:
      - main
      - release/*
  pull_request:
    # Only run if CSS/JS/MD-related files changed.
    paths:
      - '**.js'
      - '**.cjs'
      - '**.ts'
      - '**.css'
      - 'docs/**/*.md'
      - 'packages/**/*.md'
      - '.eslint*'
      - '.markdownlint*'
      - '.npmpackagejsonlintrc.json'
      - '.nvmrc'
      - '.prettier*'
      - '.stylelint*'
      - '**/package.json'
      - 'package-lock.json'

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the (target) branch name.
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
    timeout-minutes: 15
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - uses: GoogleForCreators/web-stories-wp/.github/actions/install-js-deps@main

      - name: Markdown Lint
        run: npm run lint:md

      - name: CSS Lint
        run: npm run lint:css

      - name: package.json Lint
        run: npm run lint:package-json

      # Do this first so that the types are available to ESLint,
      # particularly the more sophisticated `@typescript/eslint` rules.
      - name: Type checking
        run: npm run workflow:bundle-packages:types

      - name: JS Lint
        run: npm run lint:js

      - name: JSON Schema validation
        run: npm run test:schema
