name: Plugin Check

on:
  push:
    paths:
      - '**.js'
      - '**.cjs'
      - '**.ts'
      - '**.tsx'
      - '**/package.json'
      - 'package-lock.json'
      - 'web-stories.php'
      - 'includes/**.php'
      - '.github/workflows/lint-plugin-check.yml'
    branches:
      - main
  pull_request:
    paths:
      - '**.js'
      - '**.cjs'
      - '**.ts'
      - '**.tsx'
      - '**/package.json'
      - 'package-lock.json'
      - 'web-stories.php'
      - 'includes/**.php'
      - '.github/workflows/lint-plugin-check.yml'

permissions:
  contents: read

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the (target) branch name.
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: '8.0'
          coverage: none
          tools: composer

      - name: Install dependencies
        run: |
          npm ci
        env:
          PUPPETEER_SKIP_DOWNLOAD: true

      - name: Install PHP dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520
        with:
          composer-options: '--prefer-dist --no-progress --no-interaction'

      - name: Setup Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3
        with:
          bun-version: latest

      - name: Build plugin
        run: bun run build:js

      - name: Bundle plugin
        run: bun run workflow:build-plugin

      - name: Run plugin check
        uses: wordpress/plugin-check-action@v1
        with:
          build-dir: './build/web-stories'
          exclude-directories: 'third-party'
          exclude-checks: |
            late_escaping
            plugin_readme
            plugin_review_phpcs
            plugin_updater
