name: Editor Integration Tests

on:
  push:
    # Only run if editor-related files changed.
    paths:
      - 'babel.config.cjs'
      - 'karma-story-editor.config.cjs'
      - 'webpack.config.cjs'
      - 'webpack.config.test.cjs'
      - 'packages/**/*.js'
      - 'packages/**/*.cjs'
      - 'packages/**/*.ts'
      - '**/package.json'
      - 'package-lock.json'
      - '__static__/**'
      - '.github/workflows/tests-karma-editor.yml'
    branches:
      - main
      - release/*
  pull_request:
    # Only run if editor-related files changed.
    paths:
      - 'babel.config.cjs'
      - 'karma-story-editor.config.cjs'
      - 'webpack.config.cjs'
      - 'webpack.config.test.cjs'
      - 'packages/**/*.js'
      - 'packages/**/*.cjs'
      - 'packages/**/*.ts'
      - '**/package.json'
      - 'package-lock.json'
      - '__static__/**'
      - '.github/workflows/tests-karma-editor.yml'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the (target) branch name.
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  nonce:
    name: Percy Nonce
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.nonce.outputs.result }}
    steps:
      - id: nonce
        run: echo "::set-output name=result::${{ github.run_id }}-${{ github.run_attempt }}-$(date +%s)"

  karma:
    name: Karma (${{ matrix.shard }})
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: nonce
    strategy:
      fail-fast: false
      matrix:
        # We want to split up the tests into 20 parts running in parallel.
        shard:
          [
            '1/20',
            '2/20',
            '3/20',
            '4/20',
            '5/20',
            '6/20',
            '7/20',
            '8/20',
            '9/20',
            '10/20',
            '11/20',
            '12/20',
            '13/20',
            '14/20',
            '15/20',
            '16/20',
            '17/20',
            '18/20',
            '19/20',
            '20/20',
          ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - uses: GoogleForCreators/web-stories-wp/.github/actions/install-php-deps@main

      # TODO: Remove need for `npm install puppeteer`.
      - name: Install dependencies
        run: npm install puppeteer
        env:
          PUPPETEER_PRODUCT: chrome

      # FIXME: https://github.com/googleforcreators/web-stories-wp/issues/4364
      - name: Increase max number of file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Get Chromium executable path
        id: chromium_path
        run: |
          CHROMIUM=$(node -p "const puppeteer = require('puppeteer'); puppeteer.executablePath();")
          echo "::set-output name=chromium_path::${CHROMIUM}"

      - name: Run integration tests with Percy
        run: |
          npx percy exec --quiet --parallel --config=percy.config.karma.yml -- \
            npm run test:karma:story-editor -- --headless --viewport=1600:1000 --coverage --shard=$SHARD || \
          npx percy exec --quiet --parallel --config=percy.config.karma.yml -- \
            npm run test:karma:story-editor:retry-failed -- --headless --viewport=1600:1000 --shard=$SHARD
        env:
          DISABLE_ERROR_BOUNDARIES: true
          SHARD: ${{ matrix.shard }}
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          PERCY_BROWSER_EXECUTABLE: ${{ steps.chromium_path.outputs.chromium_path }}
          PERCY_PARALLEL_NONCE: ${{ needs.nonce.outputs.result }}
        if: github.event.pull_request.draft == false

      - name: Run integration tests
        run: |
          npm run test:karma:story-editor -- --headless --viewport=1600:1000 --coverage --shard=$SHARD || \
          npm run test:karma:story-editor:retry-failed -- --headless --viewport=1600:1000 --shard=$SHARD
        env:
          DISABLE_ERROR_BOUNDARIES: true
          SHARD: ${{ matrix.shard }}
        if: github.event.pull_request.draft == true

      - name: Upload code coverage report
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          file: build/logs/karma-coverage/story-editor/lcov.info
          flags: karmatests

  percy:
    name: Percy
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: >
      always() &&
      github.event.pull_request.draft == false &&
      github.event.pull_request.head.repo.fork == false &&
      github.event.pull_request.user.login != 'dependabot[bot]'
    needs: [karma, nonce]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Setup Node
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: npm install @percy/cli

      - name: Finalize Percy build
        run: npx percy build:finalize
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          PERCY_PARALLEL_NONCE: ${{ needs.nonce.outputs.result }}
