name: Editor Integration Tests

on:
  push:
    # Only run if editor-related files changed.
    paths:
      - 'babel.config.cjs'
      - 'karma-story-editor.config.cjs'
      - 'webpack.config.cjs'
      - 'webpack.config.test.cjs'
      - 'packages/**/*.js'
      - '**/package.json'
      - 'package-lock.json'
      - '__static__/**'
      - '.github/workflows/tests-karma-editor.yml'
    branches:
      - main
      - release/*
  pull_request:
    # Only run if editor-related files changed.
    paths:
      - 'babel.config.cjs'
      - 'karma-story-editor.config.cjs'
      - 'webpack.config.cjs'
      - 'webpack.config.test.cjs'
      - 'packages/**/*.js'
      - '**/package.json'
      - 'package-lock.json'
      - '__static__/**'
      - '.github/workflows/tests-karma-editor.yml'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests
  # or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  karma:
    name: Karma (${{ matrix.shard }})
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        # We want to split up the tests into 4 parts running in parallel.
        shard: ['1/4', '2/4', '3/4', '4/4']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.5.1
        with:
          node-version-file: '.nvmrc'
          cache: npm

      # TODO: Remove need for `npm install puppeteer`.
      - name: Install dependencies
        run: |
          npm ci
          npm install puppeteer
        env:
          PUPPETEER_PRODUCT: chrome

      # FIXME: https://github.com/googleforcreators/web-stories-wp/issues/4364
      - name: Increase max number of file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Run integration tests
        run: npm run test:karma:story-editor -- --headless --snapshots --viewport=1600:1000 --coverage --shard=$SHARD || npm run test:karma:story-editor:retry-failed -- --headless --snapshots --viewport=1600:1000 --shard=$SHARD
        env:
          DISABLE_ERROR_BOUNDARIES: true
          SHARD: ${{ matrix.shard }}

      - name: Add files for snapshotting
        run: cp -r __static__ .test_artifacts/karma_snapshots/

      - name: Upload code coverage report
        uses: codecov/codecov-action@v2.1.0
        with:
          file: build/logs/karma-coverage/story-editor/lcov.info
          flags: karmatests

      - name: Upload snapshot files artifact
        uses: actions/upload-artifact@v2
        with:
          name: karma_snapshots
          path: .test_artifacts/karma_snapshots

  percy:
    name: Percy
    runs-on: ubuntu-latest
    timeout-minutes: 5
    # The action cannot access the secret when run from a PR fork or authored by Dependabot.
    if: always()
    needs: karma
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install @percy/cli

      - name: Download snapshot files artifact
        uses: actions/download-artifact@v2
        with:
          name: karma_snapshots
          path: .test_artifacts
        continue-on-error: true

      - name: Upload Percy snapshots
        run: npx percy snapshot --config=percy.config.yml .test_artifacts/karma_snapshots
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
