name: E2E Tests

on:
  push:
    # Don't run for irrelevant changes.
    paths-ignore:
      - 'docs/**'
      - '.storybook/**'
      - '.wordpress-org/**'
      - '__mocks__/**'
      - '__static__/**'
      - 'tests/**'
      - '**.md'
      - '**.yml'
      - '**.neon.dist'
      - '**.xml.dist'
      - 'readme.txt'
      - '.editorconfig'
      - '.eslint*'
      - '.markdownlint*'
      - '.phpstorm.meta.php'
      - '.prettier*'
      - '.stylelint*'
      - '.github/workflows/**'
      - '!.github/workflows/tests-e2e.yml'
    branches:
      - main
      - release/*
  pull_request:
    # Don't run for irrelevant changes.
    paths-ignore:
      - 'docs/**'
      - '.storybook/**'
      - '.wordpress-org/**'
      - '__mocks__/**'
      - '__static__/**'
      - 'tests/**'
      - '**.md'
      - '**.yml'
      - '**.neon.dist'
      - '**.xml.dist'
      - 'readme.txt'
      - '.editorconfig'
      - '.eslint*'
      - '.markdownlint*'
      - '.phpstorm.meta.php'
      - '.prettier*'
      - '.stylelint*'
      - '.github/workflows/**'
      - '!.github/workflows/tests-e2e.yml'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests
  # or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  e2e:
    name: '${{ matrix.browser }} - WP ${{ matrix.wp }}'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    continue-on-error: ${{ matrix.experimental == true }}
    strategy:
      matrix:
        # TODO: add back Firefox once support is more mature.
        include:
          - browser: 'chrome'
            wp: 'latest'
            snapshots: true
          - browser: 'chrome'
            wp: '5.5'
            snapshots: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # See https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-unix
      - name: Install libgbm1
        run: sudo apt-get install libgbm1

      - name: Setup Node
        uses: actions/setup-node@v2.5.1
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          coverage: none
          tools: composer

      # TODO: Remove need for `npm install puppeteer`.
      - name: Install dependencies
        run: |
          npm ci
          npm install puppeteer
        env:
          PUPPETEER_PRODUCT: ${{ matrix.browser }}

      - name: Install PHP dependencies
        uses: 'ramsey/composer-install@v1'
        with:
          composer-options: '--prefer-dist --no-progress --no-interaction'

      - name: Build plugin
        run: npm run build:js
        env:
          # TODO: remove eventually
          DISABLE_PREVENT: true
          DISABLE_QUICK_TIPS: true

      - name: Start Docker environment
        run: npm run env:start
        env:
          COMPOSE_INTERACTIVE_NO_CLI: true
          WP_VERSION: ${{ matrix.wp }}

      - name: Run E2E tests with percy
        run: npm run test:e2e:percy
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_E2E }}
          WP_VERSION: ${{ matrix.wp }}
        if: ( matrix.snapshots ) && ( github.event.pull_request.draft == false )

      - name: Run E2E tests
        run: npm run test:e2e
        env:
          WP_VERSION: ${{ matrix.wp }}
        if: ( ! matrix.snapshots ) || ( github.event.pull_request.draft == true )

      - name: Stop Docker environment
        run: npm run env:stop
        if: always()
        env:
          COMPOSE_INTERACTIVE_NO_CLI: true
