name: JavaScript Unit Tests

on:
  push:
    # Only run if JS-related files changed.
    paths:
      - '**.js'
      - '**/package.json'
      - 'package-lock.json'
      - 'packages/templates/src/raw/**'
      - 'packages/text-sets/src/raw/**'
      - 'patches/**'
    branches:
      - main
      - release/*
  pull_request:
    # Only run if JS-related files changed.
    paths:
      - '**.js'
      - '**/package.json'
      - 'package-lock.json'
      - 'packages/templates/src/raw/**'
      - 'packages/text-sets/src/raw/**'
      - 'patches/**'

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests
  # or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  unit-js:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo "::set-output name=NVMRC::$(cat .nvmrc)"
        id: nvm

      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ steps.nvm.outputs.NVMRC }}
          cache: npm

      - name: Setup Jest cache
        uses: actions/cache@v2.1.6
        id: cache-jest-cache
        with:
          path: .jest-cache
          key: ${{ runner.os }}-${{ steps.nvm.outputs.NVMRC }}-jest

      # Rollup is needed for tests in `packages/migration/src` expecting `module.js`
      - name: Install dependencies
        run: |
          npm ci
          npx rollup --config packages/migration/src/rollup.config.migrate.js
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true

      - name: Run JavaScript unit tests
        run: npm run test:js -- --runInBand --ci --cacheDirectory="$HOME/.jest-cache" --collectCoverage

      - name: Upload code coverage report
        uses: codecov/codecov-action@v2.1.0
        with:
          file: build/logs/lcov.info
          flags: unittests
