name: Migrate Templates

on:
  schedule:
    - cron: '0 12 * * 1'

jobs:
  update-template:
    name: Migrate templates and text sets
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo "::set-output name=NVMRC::$(cat .nvmrc)"
        id: nvm

      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ steps.nvm.outputs.NVMRC }}
          cache: npm

      - name: Install dependencies
        run: npm ci
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true

      - name: Update story data (templates, text sets, FTUE)
        run: npm run workflow:migrate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Migrate templates and text sets to latest version
          title: Migrate templates and text sets
          body: Update templates and text sets after running through migration
          branch: update/templates
          labels: Dependencies
